::-webkit-scrollbar{
    width: 0.6em;
}
//軌道樣式
::-webkit-scrollbar-track{
    border-radius: 100em;
    border-radius: 555px;
    // background-color: #ffffff50;
    box-shadow: 0.1em 0.1em 0.1em #252b3020 inset;
    border: 1px solid #94969b50;
    border-right: 2px solid #ffffff80;
    border-bottom: 2px solid #ffffff80;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
// bar樣式
::-webkit-scrollbar-thumb{
    border-radius: 100em;
    background-color: #14141480;
}
// bar:hover樣式
::-webkit-scrollbar-thumb:hover{
    background-color: #394897;
}

/* 新樣式覆蓋 */
::-webkit-scrollbar{
    width: 1em;
}
//軌道樣式
::-webkit-scrollbar-track{
    background-color: #e4e4e4;
    border-radius: 100px;
}
// bar樣式
::-webkit-scrollbar-thumb{
    background-color: #FFD60A;
    border-radius: 100px;
}
// bar:hover樣式
.consumptionRecord_bouncing main::-webkit-scrollbar-thumb:hover{
    background-color: #394897;
}