$uiColor:(
	"main":#FFFFFF,
	"strongBtn":#FFD60A,
	"strongTxt":#394897,
    "deepTxt":#141414,
    "lightTxt":#BCBCBC,
    "error":#EF5C5C,
    "correct":#7AC74F,
    "background":#FBF7F3,
);
#supportApp{
    //客服最外層section
    transition: right 0.3s;
    position: fixed;
    padding: 0.5em;
    box-sizing: border-box;
    right: 20px;
    bottom: 20px;
    z-index: 9999999999;
    background-color: #3e444a15;
    // box-shadow: 1px 1px 2px 0px #aaaaaa25;
    backdrop-filter: blur(0.5em);
    // border: 1px solid #000;
    border-radius: 50%;
    border: 2px solid #000;

    &[class*="active"]{
        // 開啟客服時
        position: fixed;
        // z-index: 10;
        top: 0;
        border-radius: none;
        bottom: 0;
        right: 0;
        left: 0;
        content: '';
        background-color: #3e444a05;
        border: none;
        border-radius: 0;
        // background-color: #aaa;
        backdrop-filter: blur(0.5em);
       
    }
    // &:not([class*="active"]){
        
    // }
}
.supportChatroom:not([class*="active"]){
    /* 客服聯天室在首頁button */
    /* 圓 */
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 2em;
    background-color:transparent;
    cursor: pointer;
    article,button{
        display: none;
    }
    >img{
        display: block;
        // font-size: 2em;
        width: 2em;
        aspect-ratio: 1/1;
        margin: auto;
        position: absolute;
        top: 3px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
}
.supportChatroom.active{
    /* 客服聯天室區 */
    border-radius: 5px;
    position: absolute;
    padding: 20px;
    width: 100%;
    margin:auto ;
    max-width: 90%;
    right: 1em;
    bottom: 1em;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 0px #aaaaaa ;
    @media screen and (min-width:768px) {
        
    }
    >img{
        display: none;
        
    }
    .chatroom{
        display: none;
    }
    .selectRoom{
        >.titleCell{
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            >h3{
                line-height: 2em;
            }
            >img{
                width: 2em;
                cursor: pointer;
                
            }
        }
        .selectBtn{
            // width: 100%;
            font-size: 0px;
            div{
                display: inline-block;
                text-align: center;
                width: 50%;
                font-size: 16px;
                box-sizing: border-box;
                padding: 2em 1em; 
                cursor: pointer;
                // justify-content: space-around;
                img{
                    vertical-align: top;
                    // width: 50%;
                    width: 20%;
                    box-sizing: border-box;
                    
                }
            }
        }
    }
    @media screen and (min-width:768px) {
        right: 1em;
        // bottom: 1em;
        left: auto;
        margin: auto;
        padding: 20px;
        min-width: 40%;
        max-width: 400px;
        height: auto;
    }
}
.selectRoomActive.active{
    top: 1em;
    >.selectRoom{
        display: none;
    }
    
    >.chatroom , >.selectRoom{
        >.titleCell{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            >h3{
                flex-grow: 1;
                line-height: 2em;
                // margin-left: 1em;
            }
            >img{
                cursor: pointer;
                width: 2em;
            }
        }
        
    }
    >.chatroom{
        height: 100%;
        display: flex;
        flex-direction: column;
        
        .titleCell{
            >h3{
                margin-left: 1em;
                line-height: 2em;
            }
            @media screen and (min-width:768px) {
                >h3::after{
                    /* 客服聯天室標語 */
                    content: '您好，有甚麼需要幫忙的嗎？';
                    font-size: 16px;
                    margin-left: 2em;
                    white-space:nowrap;
                }
                
            }
            
        }
        .txtArea{
            /*對話紀錄區*/
            margin: 1em 0em;
            flex-grow: 1;
            padding: 0em 1em;
            overflow-y: scroll;
            -webkit-appearance: none;
            
            //這定義了卷軸的寬度，有兩個值auto 和 thin。不好的地方就是，我們不能像webkit的語法那樣定義一個具體的數位。
            // scrollbar-width: thin;
            //可以為卷軸 track和thumb定義成對值的顏色
            // scrollbar-color: #6969dd #e0e0e0;
            // scrollbar-width: thin;
            //儘管這個新語法很簡單，但它是有限制的。我們只能新增顏色。我們不能新增shadows`、gradients、rounded，或任何類似的東西，我們被允許客製化的只是顏色。


        &::-webkit-scrollbar {
            /*卷軸的寬度*/
            // 首先，我們需要定義卷軸的大小。這可以是垂直卷軸的寬度，也可以是水平卷軸的高度。
            // width: 5px;
            background-color: transparent;
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            // 卷軸 track
            //這代表了卷軸的基礎。我們可以通過新增background、shadows、border-radius和border來對它進行造型。
            background-color: transparent;
            // background-color: #e4e4e4;
            border-radius: 100px;
        }
        &::-webkit-scrollbar-thumb {
            //卷軸 thumb
            //準備好了卷軸的基礎後，我們就需要對卷軸的thumb進行樣式設計。這很重要，因為使用者可能會拖動這個thumb與卷軸進行互動。
            // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            // background-color: #aaa;
            // color: #000;
            // border-radius: 200px ;
            // background-color: #fde465 ;
            // background-color: #3e444a05;
            // box-shadow: 0.1em 0.5em 0.5em #252b3020;
            // border: 1px solid #94969b50;
            // border-right: 1px solid #55595e20;
            // border-bottom: 1px solid #55595e20;
            // border-left: 1px solid #ffffff30;
            // backdrop-filter: blur(0.5em);
            background-color: #d4aa70;
            border-radius: 100px;

            

            
        }
            >article{
                /*單個對話紀錄框*/
                margin: 3em 0em;
                width: 100%;
                display: flex;
                p{
                    /*對話紀錄內文*/
                    color: map-get( $uiColor , "strongTxt" );
                    background-color: map-get($uiColor, "main" );
                    border-radius: 20px;
                    box-sizing: border-box;
                    padding: 1em 1em;
                    max-width: 70%;
                    box-shadow: 1px 1px 5px 0px #aaa5;
                }
            }
            >.meTxt{
                flex-direction: row-reverse;
                p{
                    /*對話紀錄內文*/
                    color: map-get( $uiColor , "main" );
                    background-color: map-get($uiColor, "strongTxt" );
                }
            }
        }
        .keyButton{
            /* 機器人客服聯天室選項 */
            box-sizing: border-box;
            white-space:nowrap;
            padding: 0.2em;
            overflow-x: scroll;
            min-height: 3.5em;
           >button{
                /* 機器人客服聯天室選項button */
                font-size: 1em;
                box-sizing: border-box;
                color: map-get( $uiColor , "main" );
                background-color: map-get($uiColor, "strongTxt" );
                padding: 0.3em 1em ;
                border-radius: 200px;
                border: none;
                margin: auto 0.3em;
                cursor: pointer;
            }
            &::-webkit-scrollbar {
                background-color: transparent;
                width: 8px;
            }
            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 100px;
            }
            &::-webkit-scrollbar-thumb {
                
                background-color: #d4aa70;
                border-radius: 100px;
    
                
    
                
            }
        }
        >.inputArea{
             /* 真人客服聯天室輸入區 */
            display: flex;
            box-sizing: border-box;
            padding: 1em 0em;
            >textarea{
                /* 客服聯天室輸入區輸入框 */
                resize: none;
                outline: none;
                border: none;
                box-sizing: border-box;
                line-height: 1.5em;
                font-size: 1em;
                border-radius: 10px;
                border:none;
                box-shadow: -1px -1px 3px 2px #ffffff inset,1px 1px 3px 0px #aaaaaaaa inset;
                margin: 0px 0px 20px 0px;
                background-color: transparent;
                box-sizing: border-box;
                padding: 0.5em 1em;
                flex-grow: 1;
                height: 100%;
                -webkit-appearance: none;
           }
           >textarea:focus{
            outline: none;
            box-shadow: -2px -2px 3px 3px #ffffff inset,2px 2px 5px 1px #aaaaaaaa inset;
            }
            >img{
                // padding: 0.2em;
                width: 2em;
                margin-bottom: auto;
                cursor: pointer;
            }
        }
    }
    
}
