
<script src="https://kit.fontawesome.com/1a00250e22.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/header.js"></script>

<footer>
        <section class="footerContain">
            <section class="logoContain">
                <section class="logo">
                    <img src="assets/image/home_header_logo.png">
                </section>
            </section>
            <section class="socialContain">
                <section class="logo">
                    <a href="">
                        <img src="assets/image/home_footer_facebook.png">
                    </a>
                </section>
                <section class="logo">
                    <a href="">
                        <img src="assets/image/home_footer_instagram.png">
                    </a>
                </section>
                <section class="logo">
                    <a href="">
                        <img src="assets/image/home_footer_twitter.png">
                    </a>
                </section>
                <section class="logo">
                    <a href="">
                        <img src="assets/image/home_footer_line.png">
                    </a>
                </section>
            </section>
            <nav>
                <ul>
                    <li>
                        <a href="">藝廊</a>
                    </li>
                    <li>
                        <a href="">拍賣廳</a>
                    </li>
                    <li>
                        <a href="">藝論</a>
                    </li>
                    <li>
                        <a href="">關於我們</a>
                    </li>
                    <li>
                        <a href="">會員中心</a>
                    </li>
                </ul>
            </nav>
            <section class="copyright">
                <p>@2022 Powered by 藝論 Right Reserved<br>本網站為緯育Tibame前端設計工程師班專題作業，本平台僅供學習、展示之用。</p>
            </section>
        </section>
</footer>
