    <script src="https://kit.fontawesome.com/1a00250e22.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <footer>
        <section class="footerContain">
            <div class="logoContain">
                    <div class="logo">
                        <img src="assets/image/all_logo.png">
                    </div>
            </div>
            <div class="socialContain">
                    <div class="logo">
                        <a href="">
                            <img src="assets/image/home_footer_facebook.png">
                        </a>
                    </div>
                    <div class="logo">
                        <a href="">
                            <img src="assets/image/home_footer_instagram.png">
                        </a>
                    </div>
                    <div class="logo">
                        <a href="">
                            <img src="assets/image/home_footer_twitter.png">
                        </a>
                    </div>
                    <div class="logo">
                        <a href="">
                            <img src="assets/image/home_footer_line.png">
                        </a>
                    </div>
            </div>
            <nav>
                    <ul>
                        <li>
                            <a href="">藝廊</a>
                        </li>
                        <li>
                            <a href="">拍賣廳</a>
                        </li>
                        <li>
                            <a href="">藝論</a>
                        </li>
                        <li>
                            <a href="">關於我們</a>
                        </li>
                        <li>
                            <a href="">會員中心</a>
                        </li>
                    </ul>
            </nav>
            <div class="copyright">
                <p>本網站為緯育TibaMe_前端設計工程師班第104期學員專題成果作品，本平台僅供學習、展示之用。<br>若有抵觸有關著作權，或有第三人主張侵害智慧財產權等情事，均由學員負法律上責任，緯育公司概不負責。<br>若有侵權疑慮，您可以私訊
                <a href="https://www.facebook.com/TibaMe">緯育TibaMe</a>，後續會由專人協助處理。</p>
                    
            </div>
        </section>
    </footer>
