    <script src="https://kit.fontawesome.com/1a00250e22.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <footer>
        <section class="footerContain">
            <div class="logoContain">
                    <div class="logo">
                        <img src="assets/image/all_logo.png">
                    </div>
            </div>
            <div class="socialContain">
                    <div class="logo">
                        <a href="">
                            <img src="assets/image/home_footer_facebook.png">
                        </a>
                    </div>
                    <div class="logo">
                        <a href="">
                            <img src="assets/image/home_footer_instagram.png">
                        </a>
                    </div>
                    <div class="logo">
                        <a href="">
                            <img src="assets/image/home_footer_twitter.png">
                        </a>
                    </div>
                    <div class="logo">
                        <a href="">
                            <img src="assets/image/home_footer_line.png">
                        </a>
                    </div>
            </div>
            <nav>
                    <ul>
                        <li>
                            <a href="galleryDoor.html">藝廊</a>
                        </li>
                        <li>
                            <a href="prouductAll.html">拍賣廳</a>
                        </li>
                        <li>
                            <a href="articleAll.html">藝論</a>
                        </li>
                        <li>
                            <a href="about.html">關於我們</a>
                        </li>
                        <li>
                            <a href="3dSurroundView.html">會員中心</a>
                        </li>
                    </ul>
            </nav>
            <div class="copyright">
                <p>本網站為緯育TibaMe_前端設計工程師班第73期第二組學員專題成果作品，本平台僅供學習、展示之用。<br>
                若有牴觸有關著作權，或有第三人主張侵害智慧財產權等情事，若有侵權疑慮，請私訊<a href="https://www.tibame.com/goodjob/frontend">TibaMe-前端設計工程師養成班</a>，後續由專人協助處理。</p>
                    
            </div>
        </section>
    </footer>
