    <script src="https://kit.fontawesome.com/1a00250e22.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/header.js"></script>
    <header>
        <section class="headerNormalContain">
            <section class="logoContain">
                <div class="logo">
                        <a href="homePage.html">
                            <img src="assets/image/all_logo.png">
                        </a>
                </div>
            </section>
            <div class="hamburger"></div>
            <nav class="mainMenu fullscreen">
                <ul>    
                    <li style="--animation-order: 1;">
                        <input id="navMenu" type="checkbox">
                        <label for="navMenu" class="deepColor">
                            <a href="galleryDoor.html" class="deepColor">
                                藝廊
                            </a>
                            <b>
                                ▼
                            </b>   
                        </label>
                        <ul>
                            <li><a href="" class="lightColor">展示區</a></li>
                            <li><a href="" class="lightColor">雕塑類</a></li>
                            <li><a href="" class="lightColor">畫作類</a></li>
                            <li><a href="" class="lightColor">公仔類</a></li>
                            <li><a href="" class="lightColor">品牌合作</a></li>
                        </ul>
                    </li>
                    <li style="--animation-order: 2;" >
                        <a href="prouductAll.html" class="deepColor">拍賣廳</a>
                    </li>
                    <li style="--animation-order: 3;">
                        <a href="articleAll.html" class="deepColor">藝論</a>
                    </li>
                    <li style="--animation-order: 4;">
                        <a href="about.html" class="deepColor">關於我們</a>
                    </li>
                    <li style="--animation-order: 5;">
                        <a href="3dSurroundView.html" class="deepColor">會員中心</a>
                    </li>
                    <!-- <li style="--animation-order: 6;">
                        <section class="memberList">
                            <div class="icon">
                                    <a href="">
                                        <img src="assets/image/home_header_iconBell.png">
                                    </a>
                            </div>
                            <div class="icon">
                                    <a href="3dSurroundView.html">
                                        <img src="assets/image/home_header_iconMember.png">
                                    </a>
                            </div>
                        </section>
                    </li> -->
                    <li style="--animation-order: 6;">
                        <div class="login">
                            <a href="login.html" class="whiteRound">登入</a>
                            <a href="listing.html" class="round">上架</a>
                            <div class="notice header">
                                <i class="fas fa-bell"></i>
                                <!-- 通知紅點 -->
                                <span class="notice_dot">
                                    <span class="notice_dotNumber">99</span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="close">
                    <div></div>
                </div>
            </nav>
        </section>
    </header>
