   
    <!-- 客服區 -->
    <section id="supportApp" :class='openSelect ? "active ":"transparent" '>
        <article :class="btnClass"   > 
            <!-- <span class="material-icons" >help</span> -->
            <img src="assets\image\supportPage_message_icon.svg" alt="" @click="openSelect = !openSelect">
            <article class="selectRoom">
                <article class="titleCell">
                    <!-- <h3>客服</h3> -->
                    <!-- <span class="material-icons" @click="openSelect = !openSelect">close</span> -->
                    <img src="assets\image\supportPage_close_icon.svg" alt="" @click="openSelect = !openSelect">
                </article>
                <article class="selectBtn">
                    <div @click="openRobot">
                        <img src="assets/image/supportPage_robot_icon.svg" alt="" class="transparent">
                        <p>智能客服</p>
                    </div>
                    <div @click="openPeople">
                        <img src="assets/image/supportPage_people_icon.svg" alt="" class="transparent">
                        <p>線上客服</p>
                    </div>
                </article>
                <article>

                </article>
            </article>
            <article class="chatroom "> 
                <!-- active -->
                <article class="titleCell">
                    <span class="material-icons" @click="closedRoom">arrow_back_ios</span>
                    <h3>Name</h3>
                    <!-- <span class="material-icons" @click="openSelect = !openSelect">close</span> -->
                    <img src="assets\image\supportPage_close_icon.svg" alt="" @click="openSelect = !openSelect">
                </article>
                <article class="txtArea">
                    <!-- <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article>
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article>
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article>
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article>
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article> -->
                    <messageart v-for="item in messageObject" v-bind="item"/>
                </article>
                <article class="keyButton" v-show="openRobotBool" >
                    <button v-for="key in keyArray" @click="keySelect">{{key.keyWord}}</button>
                </article>
                <article action="#" class="inputArea" v-show="openPeopleBool">
                    <textarea name="" id="" v-model="messageTxt"></textarea>
                    <img src="assets/image/supportPage_sent_icon.png" alt="" class="transparent" @click="sendData">
                </article>
           </article>
        </article>
    </section>
    <script>
        new Vue({
            el: '#supportApp',
            data: {         //變數放在這裡
                message:'',
                openSelect:false,
                openRobotBool:false,
                openPeopleBool:false,
                keyArray:[],
                messageTxt:'',
                messageObject: [
                    // {message: '', class: 'meTxt'},
                    // {message: '', class: 'robotTxt'},
                ],
                chatroomData:{},
                maxNumber:'',
                timer:'',
            },
            components: {
                messageart: {
                    props: ['message','classS'],
                    template: `<article :class="classS"><p class="small">{{message}}</p></article>`,
                },
            },
            methods: {  //函數大部分放在這裡
                openRobot(){
                    this.openRobotBool = true;
                    messageObject = [];
                    document.querySelector('.txtArea').innerHTML = "";
                },
                openPeople(){
                    if(memData){
                        this.openPeopleBool = true;
                        messageObject = [];
                        document.querySelector('.txtArea').innerHTML = "";
                        axios({
                            method:'post',
                            url:`php/supChatroomLoad.php?memNo=${memData.memNo}`,
                        }).then((res)=>{
                            // console.log(res.data)
                            this.chatroomData = res.data[0];
                            // console.log(this.chatroomData.quizNo)
                            // if(res.data == '失敗'){
                                axios({
                                    method:'post',
                                    url:`php/supAll.php?index=${this.chatroomData.quizNo}`,
                                }).then((res)=>{
                                    // console.log(res.data);
                                    // this.chatroomData = res.data;
                                    res.data.forEach(element => {
                                    this.messageObject.push({message: `${element.content}` , classS: `${(element.memType == '會員') ? 'meTxt':'AA'}`})
                                    // console.log(element);
                                    this.maxNumber = element.chatNo;
                                    setTimeout(()=>{document.querySelector('.txtArea article:last-of-type').scrollIntoView({ behavior: 'smooth' });},100)
                                });
                                }).catch((err)=>{ console.log(err) })
                        }).catch((err)=>{ console.log(err) })
                        this.timer = setInterval(()=>{this.reLoad()},3000) 
                    }else{
                        alert("請登入");
                        location = 'login.html';
                    }
                },
                closedRoom(){
                    if(this.openPeopleBool){
                        clearInterval(this.timer);
                    }
                    this.openPeopleBool = false;
                    this.openRobotBool = false;
                },
                keySelect(key){
                    this.messageObject.push({message: `${key.target.innerText}` , class: 'meTxt'})
                    setTimeout(()=>{document.querySelector('.txtArea article:last-of-type').scrollIntoView({ behavior: 'smooth' });},100)
                    axios({
                    method:'post',
                    url:`php/robSupKey.php?selectkey=${key.target.innerText}`,
                    }).then((res)=>{
                        // console.log("從php傳來的東西",res)
                        setTimeout(()=>{
                            this.messageObject.push({message: `${res.data[0].ans}` , classS: 'robotTxt'})
                            setTimeout(()=>{document.querySelector('.txtArea article:last-of-type').scrollIntoView({ behavior: 'smooth' });},100)
                    },500)
                    }).catch((err)=>{
                        console.log(err)
                    })
                },
                sendData(){
                    if(this.messageTxt != ''){
                        axios({
                        method:'post',
                        url:`php/supMessageIn.php`,
                        data:{
                            quizNo:this.chatroomData.quizNo,
                            inputTxt:this.messageTxt,
                            memType:'會員',
                        },
                        }).then((res)=>{
                                this.reLoad();
                        }).catch((err)=>{
                            console.log(err)
                        })
                        this.messageTxt = ''
                    }
                    
                },
                reLoad(){
                    axios({
                            method: 'GET',
                            url: `php/supAll.php?index=${this.chatroomData.quizNo}&maxNumber=${this.maxNumber}`,
                            //API要求的資料
                        })
                        .then((response) => { 
                            response.data.forEach(element => {
                                this.messageObject.push({message: `${element.content}` , classS: `${(element.memType == '會員') ? 'meTxt':'AA'}`})
                                console.log(element);
                                this.maxNumber = element.chatNo;
                                setTimeout(()=>{document.querySelector('.txtArea article:last-of-type').scrollIntoView({ behavior: 'smooth' });},100)
                            });
                        })
                        .catch((error) => {console.log(error)} )
                }
            },
            computed: { //函數也可放在這裡,但是放在這裡的函數，不能傳參數，但一定要有回傳值
                btnClass(){
                        return {
                            supportChatroom:true,
                            // aidBgColor:true,
                            active: this.openSelect,
                            selectRoomActive:this.openRobotBool  || this.openPeopleBool,
                            lightBox :this.openSelect,
                        };
                },
                btnSelectClass(){
                    return{
                        selectRoom:true,
                        active: this.openRobotBool  || this.openPeopleBool,
                    };
                },

            },
            mounted(){
                axios({
                    method:'post',
                    url:"php/robSupKey.php",
                }).then((res)=>{
                    // console.log("從php傳來的東西",res)
                    this.keyArray = res.data;
                }).catch((err)=>{ console.log(err) })
                
            },
        
        });
        
        
    </script>
