/* 網頁字體載入 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
/* 網頁字體和背景顏色 */
body{
    font-family: 'Noto Serif TC', serif;
    color: #141414;
}
button{
    font-family: 'Noto Serif TC', serif;
    cursor: pointer;
}
// 透明物件
.transparent{
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    background-color: #ffffff50;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
input{
    font-family: 'Noto Serif TC', serif;
    // -webkit-appearance: none;
    // 文字設定
    font-size: 1em;
    box-sizing: border-box;
    padding: 0.2em 1em;
    line-height:2;
    letter-spacing: 2px;
    // 內外陰影
    border-radius: 555px;
    background-color: transparent;
    box-shadow: 0.1em 0.1em 0.1em #252b3020 inset;
    border: 1px solid #94969b50;
    border-right: 2px solid #ffffff80;
    border-bottom: 2px solid #ffffff80;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
textarea{
    // 文字設定
    font-family: 'Noto Serif TC', serif;
    font-size: 1em;
    box-sizing: border-box;
    padding: 0.2em 1em;
    letter-spacing: 2px;
    line-height:2;
    // 不能調大小
    resize: none;
    // 內外陰影
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0.1em 0.1em 0.1em #252b3020 inset;
    border: 1px solid #94969b50;
    border-right: 2px solid #ffffff80;
    border-bottom: 2px solid #ffffff80;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
// 燈箱
.lightBox{
    border-radius: 1em;
    background-color: #ffffff80;
    box-shadow: 0.5em 0.5em 0.5em #252b3080;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e80;
    border-bottom: 1px solid #55595e80;
    border-left:1px solid  #ffffff80;
    backdrop-filter: blur(1em);
}
input[type*="text"],input[type*="password"],input[type*="email"],textarea{
    -webkit-appearance: none;
}
// input check添加陰影
input[type*="text"]:focus,
input[type*="password"]:focus,
input[type*="password"]:focus,
input[type*="email"]:focus,
input[type*="number"]:focus,
input[type*="tel"]:focus,
textarea:focus{
    background-color: transparent;
    box-shadow: 0.1em 0.1em 0.2em #252b3020;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
    outline: none;
}
/* 主要的顏色 */
.mainColor{
    color:#FFFFFF;
}
/* 主要的背景色 */
.mainBgColor{
    background-color:#FFFFFF;
}
/* 灰色背景色 */
.greyBgColor{
    background-color: #F7F7F7;
}
/* 按鈕的強調色 */
.epFColor{
    color:#FFD60A;
}
/* 按鈕背景的強調色 */
.epFBgColor{
    background-color:#FFD60A;
}
/* 文字的強調色 */
.epBColor{
    color:#394897;
}
/* 文字背景的強調色 */
.epBBgColor{
    background-color:#394897;
}
/* 文字顏色(深色) */
.deepColor{
    color: #141414;
}
/* 文字背景色(深色) */
.deepBgColor{
    background-color:#141414;
}
/* 文字顏色(淺色) */
.lightColor{
    color: #BCBCBC;
}
/* 文字背景色(淺色) */
.lightBgColor{
    color: #BCBCBC;
}
/* 錯誤時使用色(輔色) */
.aidEColor{
    color:#EF5C5C;
}
/* 錯誤時背景使用色(輔色) */
.aidEBgColor{
    background-color:#EF5C5C;
}
/* 正確時使用色(輔色) */
.aidRColor{
    color:#7AC74F;
}
/* 正確時背景使用色(輔色) */
.aidRBgColor{
    background-color:#7AC74F;
}
/* 背景輔助色 */
.aidBgColor{
    background-color: #FBF7F3;
}
/* 主標文字大小 */
h1{
    /* font-size: 70px; */
    font-size: 4.375em;
    line-height: 2;
}
/* 副標文字大小 */
h2{
    /* font-size: 40px; */
    font-size: 2.5em;
    line-height: 3;
	letter-spacing:2px;
}
/* 內文標題大小 */
h3{
    /* font-size: 30px; */
    font-size: 1.875em;
    line-height: 3;
	letter-spacing:2px;
}
/* 內文副標大小 */
h4{
    /* font-size: 20px; */
    font-size: 1.25em;
    line-height: 2;
	letter-spacing:2px;
}
/* 內文文字大小 */
p{  
    /* font-size: 16px; */
    font-size:1em;
    line-height: 2;
    letter-spacing:2px;
}
p.small{  
    /* font-size: 12.8px; */
    font-size:0.875em;
    line-height: 1.5;
	letter-spacing:2px;
}
span{
    /* font-size: 16px; */
    font-size:1em;
    line-height: 1.3;
    letter-spacing:3px;
}
span.small{
    /* font-size: 12.8px; */
    font-size:0.875em;
    line-height: 1.5;
	letter-spacing:2px;
}
/* 橢圓形實心按鈕 */
.round{
    color: #FFFFFF;
    font-size: 1em;
    background-color: #394897;
    border: 1px solid #394897;
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    padding: 5px 20px;
    border-radius: 200px;
    transition: .3s;
}
/* 方形實心按鈕 */
.square{
    color: #FFFFFF;
    font-size: 1em;
    background-color: #394897;
    border: 1px solid #394897;
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    padding: 5px 20px;
    border-radius: 5px;
    transition: .3s;
}
/* 透明橢圓按鈕 */
.whiteRound{
    color: #141414;
    border: 1px solid transparent;
    font-size: 1em;
    padding: 5px 20px;
    border-radius: 200px;
    transition: .3s;

    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    background-color: #ffffff80;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
/* 透明方形按鈕 */
.whiteSquare{
    color: #141414;
    border: 1px solid transparent;
    font-size: 1em;
    padding: 5px 20px;
    border-radius: 5px;
    transition: .3s;

    background-color: #ffffff80;
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
/* 實心按鈕hover */
.whiteRound:hover,.whiteSquare:hover,.round:hover,.square:hover{
    color: #FFFFFF;
    background-color: #141414;
    border: 1px solid #141414;
}

/* 橢圓形外框按鈕 */
.roundOutline{
    color: #141414;
    font-size: 1em;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 200px;

    background-color: #ffffff80;
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
/* 方形外框按鈕 */
.squareOutline{
    color: #141414;
    font-size: 1em;
    background-color: transparent;
    /* font-weight: 600; */
    padding: 5px 20px;
    border-radius: 5px;

    background-color: #ffffff80;
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
/* 外框按鈕hover */
.roundOutline:hover,.squareOutline:hover{
    color: #FFFFFF;
    background-color: #141414;
    border: 1px solid #141414;
}
/* 90%外層 */
.size{
    max-width: 1200px;
    width: 90%;
}
/* 置中 */
.marginAuto{
    margin: auto;
}
/* 消失 */
.displayNone{
    display: none;
}
@media screen and (max-width:768px){
    /* 主標文字大小(手機) */
    h1{
        /* font-size: 70px; */
        font-size: 4.375em;
    }
    /* 副標文字大小(手機) */
    h2{
        /* font-size: 32px; */
        font-size: 2em;
    }
    /* 內文標題大小(手機) */
    h3{
        /* font-size: 22.4px; */
        font-size: 1.4em;
    }
    /* 內文副標大小(手機) */
    h4{
        /* font-size: 22px; */
        font-size: 1.375em;
    }
    /* 內文文字大小(手機) */
    p{
        /* font-size:16px; */
        font-size: 1em;
    }
    p.small{  
        /* font-size: 12.8px; */
        font-size:0.8em;
    }
    span{
        /* font-size: 16px; */
        font-size:1em;
    }
    span.small{
        /* font-size: 12.8px; */
        font-size:0.8em;
    }
}
// ======= input ==== //樣式
// font-size: 1em;
// border-radius: 200px;
// box-sizing: border-box;
// padding: 0.5em 1em;
// border:none;
// box-shadow: -1px -1px 2px 0px #ffffff inset,1px 1px 3px 0px #aaaaaaaa inset;
// line-height: 2em;
// background-color: transparent;


// ======= 透明卡片======= //
// border-radius: 1em;
// background-color: #3e444a05;
// box-shadow: 0.1em 0.5em 0.5em #252b3020;
// border: 1px solid #94969b50;
// border-right: 1px solid #55595e20;
// border-bottom: 1px solid #55595e20;
// border-left: 1px solid #ffffff30;
// backdrop-filter: blur(0.5em);

// ======= hover改變大小======= //
// transform: scale(1.02);
// transition: .3s;
