//會員中心 header 
.SurroundViewHeader {
    position: fixed;
    right: 0;
    left: 0;
    background-color: transparent;
    box-shadow: none;
    border: none;
    backdrop-filter: none;
    padding: 0;
    .headerContain {
        //最大寬度 .size 覆蓋
        // max-width: none;
        // width: 100%;
        .hamburger {
            position: fixed;
            top: 10px;
            // background-color: #3e444a05;
            box-shadow: 0.1em 0.2em 0.2em #252b3010;
            border: 1px solid #94969b00;
            border-right: 1px solid #55595e20;
            border-bottom: 1px solid #55595e20;
            border-left: 1px solid #ffffff30;
            background: #eeeeee66;
            backdrop-filter: blur(0.5em);
        }
        .hamburger {
            right: 10px;
            width: 50px;
            height: 50px;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }
        .logo {
            position: fixed;
            top: 10px;
            left: 50px;
            padding: 0em 0.5em;
            border-radius: 10px
        }
    }
}

#panorama {
    width: 100vw;
    height: 100vh;
}

.custom-hotspot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FFD60A;
    opacity: .8;
}


/* 圓圈動畫 */

.custom-hotspot::before {
    content: '';
    position: absolute;
    /* .custom-hotspot */
    /* 同 .custom-hotspot */
    background: #FFD60A;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: .7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 200ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

@keyframes scale {
    0% {
        transform: scale(1);
        opacity: .7;
    }
    100% {
        transform: scale(1.5);
        opacity: .1;
    }
}

.accountManagement span {
    text-align: end;
    width: 5em;
    margin-left: -17.5px;
    margin-top: -74px;
    white-space: nowrap;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e80;
    border-bottom: 1px solid #55595e80;
    border-left: 1px solid #ffffff80;
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
}

.consumptionRecord span {
    text-align: end;
    width: 5em;
    margin-left: -17.5px;
    margin-top: -74px;
    white-space: nowrap;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e80;
    border-bottom: 1px solid #55595e80;
    border-left: 1px solid #ffffff80;
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
}

.collect span {
    text-align: end;
    width: 5em;
    margin-left: -17.5px;
    margin-top: -74px;
    white-space: nowrap;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e80;
    border-bottom: 1px solid #55595e80;
    border-left: 1px solid #ffffff80;
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
}

.myListing span {
    text-align: end;
    width: 5em;
    margin-left: -17.5px;
    margin-top: -74px;
    white-space: nowrap;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e80;
    border-bottom: 1px solid #55595e80;
    border-left: 1px solid #ffffff80;
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
}

.customCharacter span {
    text-align: end;
    width: 5em;
    margin-left: -17.5px;
    margin-top: -74px;
    white-space: nowrap;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e80;
    border-bottom: 1px solid #55595e80;
    border-left: 1px solid #ffffff80;
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
}


/* 文字 */

div.custom-tooltip span {
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-align: center;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
    margin-left: 0px;
    cursor: default;
}

div.custom-tooltip:hover span {
    visibility: visible;
}


/* 文字下方三角形 */

div.custom-tooltip span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -10px;
    left: -5px;
    margin: 0 50%;
}


/* Bubble Bottom */

@keyframes Bubble_Bottom {
    0% {
        border-color: transparent transparent transparent transparent;
        bottom: -10px;
    }
    100% {
        bottom: -20px;
    }
}


/* 按鈕動態 */

div.custom-tooltip span {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-hang-sink, hvr-hang, bounce;
    animation-name: hvr-hang-sink, hvr-hang, bounce;
    -webkit-animation-duration: .3s, 1.5s, 1s;
    animation-duration: .3s, 1.5s, 1s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite, infinite;
    animation-iteration-count: 1, infinite, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    /* bounce */
    position: relative;
    /*animation: bounce 1s;*/
    animation-iteration-count: infinite;
}


/* 導覽列 */

.navButtonClick_button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    height: 50px;
    border: none;
    border-radius: 50%;
}

.bouncingBox.bouncingBox_bouncing {
    position: absolute;
    top: 0;
    margin-top: 0;
}

@media(min-width:769px) {
    .custom-hotspot {
        height: 50px;
        width: 50px;
    }
    .custom-hotspot::before {
        /* 同 .custom-hotspot */
        width: 50px;
        height: 50px;
    }
    /* 電腦版效果顯示*/
    // div.custom-tooltip span {
    //     visibility: hidden;
    // }
    div.custom-tooltip:hover span:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
        bottom: -20px;
        animation: Bubble_Bottom .5s ease;
        left: -10px;
        margin: 0 50%;
    }
    /*
    div.custom-tooltip span:before {
        /* bounce 
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform-origin: 100% 50%;
        animation: bounce_before 1s;
        animation-iteration-count: infinite;
    }
    
    @keyframes bounce {
        0% {
            color: #000;
        }
        100% {
            color: #fff;
        }
    }
    */
    @keyframes bounce_before {
        0% {
            transform: scaleX(0);
            transition: transform 0.5s ease-out;
            background: none;
        }
        100% {
            transform: scaleX(1);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            background: #fff;
        }
    }
}

@media(max-width:768px) {
    .consumptionRecord_bouncing main .record .recordGraphics .recordGraphicsOrderlist {
        display: flex;
        align-items: flex-start;
        width: 70%;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.round3dBtn {
    text-decoration: none;
    padding: 10px 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 200px;
    -webkit-transition: .3s;
    transition: .3s;
    margin: 0 2px;
}

.titleButton {
    font-size: 0.5em;
}