.aboutMain{
    .backToTop{
        position: fixed;
        left: 15%;
        bottom: 30%;
        text-align: left;
        cursor: pointer;
        display: inline-block;
        width: 3em;
        height: 3em;
        background-color: #394897;
        border-radius: 0.5em;
        opacity: 1;
        transition: opacity 1s 0.5s;

        p{
            line-height: 3em;
            text-align: center;
            color: #ffffff;
        }
    }
    .backToTopNone{
        opacity: 0;
        transition: opacity 0.5s;
    }
    .pic{
        width: 100%;
        margin-bottom: 1em;
    }

    .pageContentTxt{
        position: relative;
        line-height: 2;
        ul{
            li{
                line-height: 3;
            }
        }
        .pageContentLogo{
            width: 20%;
        }
        a{
            text-decoration: none;
            color: #141414;
        }
        a:hover{
            color: #394897;
        }
        p{
            line-height: 2;
        }
    }

    .introduceCardWrap{
        margin: auto;
        // 書櫃 
        .bookshelf{
            width: 100%;
            height: 2.5em;
            display: inline-block;
            background: url(../../assets/image/texture.jpg);
            position: relative;
            top: 0em;
            left: 0;
        }
        .bookshelf::before {
            content: '';
            width: 100%;
            height: 4em;
            display: inline-block;
            background: url(../../assets/image/texture.jpg);
            opacity: 0.8;
            -webkit-transform: scaleY(1.3) perspective(1em) rotateX(1deg);
            transform: scaleY(1.3) perspective(1em) rotateX(1deg);
            -webkit-transform-origin: bottom;
            transform-origin: bottom;
            position: relative;
            top: -4em;
            left: 0;
        }
        .raw{
            background-color: transparent;
            display: flex;
            justify-content: center;
            
            .introduceCard{
                border-radius: 1em;
                background-color: #3e444a05;
                box-shadow: 0.1em 0.5em 0.5em #252b3020;
                box-shadow: 0.1em 0.5em 0.5em #252b3020;
                border: 1px solid #94969b50;
                border-right: 1px solid #55595e20;
                border-bottom: 1px solid #55595e20;
                border-left: 1px solid #ffffff30;
                backdrop-filter: blur(0.5em);
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                cursor: pointer;
                position: relative;
                margin: 1em 0;
                a{
                    text-decoration: none;
                    color: #141414;

                    h2{
                        position: absolute;
                        top: -5%;
                        left: 55%;
                        opacity: 0.1;
                        font-size: 4em;
                    }

                    p{
                        font-size: 1em;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

/*手機專用*/
@media screen and (max-width: 767px) {
    .aboutMain{
        .backToTop{
            left: 5%;
        }
        .introduceCardWrapPC{
            display: none;
        }
        .introduceCardWrapRWD{
            display: block;
        }
        .introduceCardWrap{
            .raw{
                .introduceCard{
                    margin: 1em 2.5em;
                    padding: 3.5em 0;
                    a{
                        h2{
                            font-size: 3.5em;
                            top: -11%;
                        }
                        p{
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
        .aboutUsWrap{
            margin:5em auto;
            background-color: #f0f0f0;
            padding: 3em;
            box-sizing: border-box;
            border-radius: 0.2em;
        }
    }
}

/* md平板直up */
@media screen and (min-width: 768px) {
    .aboutMain{
        .introduceCardWrapPC{
            display: block;
        }
        .introduceCardWrapRWD{
            display: none;
        }
        .introduceCardWrap{
            .raw{
                .introduceCard{
                    margin: 1em 3em;
                    padding: 4.5em 2.5em;
                }
            }
        }
        .flipBookWrap {
            margin: 10em auto;
            transition: opacity 0.4s 0.2s;
            perspective: 250vw;
    
            .pages{
                width: 80vw;
                height: 53em;
                position: relative;
                transform-style: preserve-3d;
                backface-visibility: hidden;
                border-radius: 4px;
    
                .page {
                    width: 40vw;
                    height: 53em;
                    margin-bottom: 0.5em;
                    padding: 3em 4em;
                    box-sizing: border-box;
                    line-height: 2;
                    float: none;
                    clear: none;
                    margin: 0;
                    position: absolute;
                    top: 0;
                    width: 40vw;
                    height: 53em;
                    transform-origin: 0 0;
                    transition: transform 1.4s;
                    transform-style: preserve-3d;
                    backface-visibility: hidden;
                    cursor: pointer;
                    user-select: none;
                    background-color: #f0f0f0;
                }
                .page:nth-child(even) {
                    clear: both;
                }
                .page::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    transition: background 0.7s;
                    z-index: 2;
                }
                .page:nth-child(odd) {
                    pointer-events: all;
                    transform: rotateY(0deg);
                    right: 0;
                    border-radius: 0 4px 4px 0;
                }
                .page:nth-child(odd):hover {
                    transform: rotateY(-15deg);
                }
                .page:nth-child(odd):hover::before {
                    background: rgba(0, 0, 0, 0.03);
                }
                .page:nth-child(odd)::before {
                    background: rgba(0, 0, 0, 0);
                }
                .page:nth-child(even) {
                    pointer-events: none;
                    -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);
                    -webkit-transform-origin: 100% 0;
                    transform-origin: 100% 0;
                    left: 0;
                    border-radius: 4px 0 0 4px;
                    border-color: #141414;
                }
                .page:nth-child(even)::before {
                    background: rgba(0, 0, 0, 0.02);
                }
                .page.grabbing {
                    -webkit-transition: none;
                    transition: none;
                }
                .page.flipped:nth-child(odd) {
                    pointer-events: none;
                    -webkit-transform: rotateY(-180deg);
                    transform: rotateY(-180deg);
                }
                .page.flipped:nth-child(odd)::before {
                    background: rgba(0, 0, 0, 0.02);
                }
                .page.flipped:nth-child(even) {
                    pointer-events: all;
                    -webkit-transform: rotateY(0deg);
                    transform: rotateY(0deg);
                }
                .page.flipped:nth-child(even):hover {
                    -webkit-transform: rotateY(15deg);
                    transform: rotateY(15deg);
                }
                .page.flipped:nth-child(even):hover::before {
                    background: rgba(0, 0, 0, 0.03);
                }
                .page.flipped:nth-child(even)::before {
                    background: rgba(0, 0, 0, 0);
                }
                .page:nth-child(odd) {
                    background-position: right top;
                }
                .pageCover{
                    background:url(../../assets/image/about_flipBook.jpg) scroll no-repeat 50% 50% / 100% auto;
                }
            }
        }
    }
}