    /*
.bouncingBox main{
    margin-top: 1em;
    padding-left: 1em;
    line-height: 2;
    border-left: 3px solid #999;
    color: #999;
}

/* input 
.bouncingBox main .changeValue{
    border: none;
    border-radius: 4px;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: inherit;
}

/* 問號 
.bouncingBox main p .fa-question{
    font-size: 1px;
    padding: 4px;
    border: 1px solid #999;
    border-radius: 50%;
}

*/
    
    .accountManagement_bouncing main {
        margin-top: 1em;
        padding-left: 1em;
        line-height: 2;
        //border-left: 3px solid #141414;
        color: #141414;
        display: flex;
        justify-content: space-between;
        overflow-y: hidden;
    }
    /* 頭像 */
    
    .accountManagement_bouncing main>* {
        width: 50%;
    }
    
    .accountManagement_bouncing main .profilePicture {
        display: flex;
        align-items: flex-end;
    }
    .accountManagement_bouncing main .characterAdjustment { /* 裁切圖中黃色部分 */
        position: relative;
        bottom: -10px;
    }
    .accountManagement_bouncing main .characterAdjustment_box {
        width: 50%;
        margin-bottom: -2em;
    }
    .question {
        display: flex;
        justify-content: flex-end;
    }
    .fa-question {
        border-radius: 50%;
        padding: 4px 6px;
        font-size: 8px;
        border: 1px solid #000;
    }

    /* 提示視窗 */
    .promptWindow-main{
        position: relative;
    }
    .promptWindow{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
    }
    .promptWindow::before{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 26.0px 15px 0;
        border-color: transparent #ccc transparent transparent;
        position: absolute; /* .promptWindow */
        left: 40px;
    }
    .promptWindow::after{
        content: '此圖示為客製化人物的虛擬意象，請至客製化人物燈箱修改';
        display: block;
        position: absolute; /* .promptWindow */
        color: #666;
        background-color: #ccc;
        top: -120px;
        left: 60px;
        width: 100px;

        padding: 10px;
        border-radius: 10px;
    }

    /* input */
    
    .accountManagement_bouncing main .changeValue {
        border: none;
        border-radius: 200px;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        background: inherit;
        /* display: block;
    font-size: 1em;
    border-radius: 200px;
    /* -webkit-box-sizing: border-box; */
        box-sizing: border-box;
        padding: 0.5em 1em;
        border: none;
        /* -webkit-box-shadow: -1px -1px 2px 0px #ffffff inset, 1px 1px 3px 0px #aaaaaaaa inset; */
        box-shadow: -1px -1px 2px 0px #ffffff inset, 1px 1px 3px 0px #aaaaaaaa inset;
        /* margin: 0px 0px 20px 0px; */
        /* width: 80%; */
        line-height: 2em;
        background-color: transparent;
    }
    /* input 樣式更改 */
    
    .accountManagement_bouncing main input.changeValue {
        height: 35px;
        padding-left: 15px;
        margin: 10px 0 20px 0;
    }
    
    .accountManagement_bouncing main .changeValue:focus {
        outline: none;
        box-shadow: -2px -2px 3px 3px #ffffff inset, 2px 2px 5px 1px #aaaaaaaa inset;
    }
    /* 問號 */
    
    .accountManagement_bouncing main p .fa-question {
        font-size: 1px;
        padding: 4px;
        border: 1px solid #999;
        border-radius: 50%;
    }
    /* RWD */
    
    @media(max-width:769px) {
        .accountManagement_bouncing main {
            display: flex;
            flex-direction: column-reverse;
        }
        .accountManagement_bouncing main .img {
            width: 100%;
        }
        .accountManagement_bouncing main>* {
            width: 100%;
        }
        .accountManagement_information {
            margin-top: 50px;
        }
    }