.articlePageContent .articlePageWrap{
    width: 90%;
    max-width: 1200px;
    // 給報紙外框，不要讓它貼邊
    border: 10px solid #FBF7F3;
    // background-color: #FBF7F3;
    margin:40px auto;

    // 紙材質
    background-color: #FBF7F3;
    opacity: 1;
    background-image:  radial-gradient(#868686 0.5px, transparent 0.5px), radial-gradient(#868686 0.5px, #FBF7F3 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;  
    box-shadow: 2px 0 10px #8888;
}
/* 所有a設定 */
.articlePageContent a{
    text-decoration: none;
}
/* 所有圖片width:100%設定 */
.articlePageContent .pic img{
    width: 100%;
}
.articlePageContent .articlePageWrap .sideInfo{
    display: none;
}
.articlePageContent .articlePageWrap .pageContent{
    width: 100%;
    position: relative;
    padding:10% 5% 10%;
    box-sizing: border-box;
}
/* 麵包屑 */
.articlePageContent .articlePageWrap .pageContent .breadcrumb ul{
    display: none
}
/* 文章上面作者縮圖 */
.articlePageContent .articlePageWrap .pageContent .authorShortIntro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10% 0 3%;
}
.articlePageContent .articlePageWrap .pageContent .authorShortIntro .item{
    display: flex;
    align-items: center;
}
.articlePageContent .articlePageWrap .pageContent .authorShortIntro .item .pic{
    width: 40px;
    height: 40px;
    border-radius: 300px;
    overflow: hidden;
    margin-right:15px;
}
.articlePageContent .articlePageWrap .pageContent .authorShortIntro .report .pic{
    width: 30px;
    height: 30px;
    transition: .3s;
    transform: scale(1.02);
}
.articlePageContent .articlePageWrap .pageContent .authorShortIntro .report .pic img:hover{
    content: url(../image/articlePage_authorShortIntro_exclamationHover.png);
}
/* 文章內容 */
.articlePageContent .articlePageWrap .pageContent .page .pic{
    width: 100%;
}
/* 文章分享列 */
.articlePageContent .articlePageWrap .pageContent .shareBar{
    display: flex;
    justify-content: space-between;
    margin: 80px 0 150px;
    padding: 20px 15px 15px;
    // background-color: #FBF7F3;
    
    // 紙材質
    background-color: #FBF7F3;
    opacity: 1;
    background-image:  radial-gradient(#868686 0.5px, transparent 0.5px), radial-gradient(#868686 0.5px, #FBF7F3 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;  
    border-top: 1px solid #8888;

    /* 定位在.articlePageWrap .pageContent .page*/
    position: sticky;
    bottom: 0;
}
/* 文章分享列所有圖片設定 */
.articlePageContent .articlePageWrap .pageContent .shareBar .pic{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
    transform: scale(1.02);
}
.articlePageContent .articlePageWrap .pageContent .shareBar .pic:first-child img:hover{
    content: url(../image/articlePage_shareBar_commentHover.png);
}
.articlePageContent .articlePageWrap .pageContent .shareBar .socialMedia{
    display: flex;
}
.articlePageContent .articlePageWrap .pageContent .shareBar .socialMedia .pic{
    margin: 0px 5px;
    transition: .3s;
    transform: scale(1.02);
}
/* 分享圖片hover */
.articlePageContent .articlePageWrap .pageContent .shareBar .socialMedia .pic img:hover{
    transform: scale(1.03);
    transition: .3s;
}
.articlePageContent .articlePageWrap .pageContent .shareBar .socialMedia .pic:nth-child(1) img:hover{
    content: url(../image/home_footer_facebookHover.png);
}
.articlePageContent .articlePageWrap .pageContent .shareBar .socialMedia .pic:nth-child(2) img:hover{
    content: url(../image/home_footer_instagramHover.png);
}
.articlePageContent .articlePageWrap .pageContent .shareBar .socialMedia .pic:nth-child(3) img:hover{
    content: url(../image/home_footer_twitterHover.png);
}
.articlePageContent .articlePageWrap .pageContent .shareBar .socialMedia .pic:nth-child(4) img:hover{
    content: url(../image/home_footer_lineHover.png);
}
/* 下方相關文章 */
.articlePageContent .articlePageWrap .pageContent .relative{
    display: block;
    margin: auto;
}
.articlePageContent .articlePageWrap .pageContent .relative h2{
    border-bottom: 2px solid #8888;
}
.articlePageContent .articlePageWrap .pageContent .relative .item{
    display: flex;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}
.articlePageContent .articlePageWrap .pageContent .relative .item .pic{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 5px;
}
.articlePageContent .articlePageWrap .pageContent .relative .item .txt{
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}
@media screen and (min-width:768px){
    .articlePageContent .articlePageWrap{
        display: flex;
    }
    .articlePageContent .articlePageWrap .pageContent{
        padding:0 10% 15%;
        width: 75%;
        box-sizing: border-box;
        /* border: 1px solid #000; */
    }
    /* 麵包屑 */
    .articlePageContent .articlePageWrap .pageContent .breadcrumb ul{
        display: flex;
        /* 定位在.articlePageContent .articlePageWrap .pageContent */
        position: absolute;
        top: 1%;
        left: 2%;
    }
    .articlePageContent .articlePageWrap .pageContent .breadcrumb ul li{
        font-size: 0.5em;
    }
    /* 測欄 */
    .articlePageContent .articlePageWrap .sideInfo{
        display: block;
        position: sticky;
        top: 60px;
        height: 100%;
        width: 25%;
        padding:3% 2% 0;
        box-sizing: border-box;
        /* border: 1px solid #000; */
        border-left: 2px solid #8888;
    }
    /* 測欄作者 */
    .articlePageContent .articlePageWrap .sideInfo .authorIntro .txt p:first-child{
        margin: 20px 0 0 ;
    }
    .articlePageContent .articlePageWrap .sideInfo .authorIntro .txt p:last-child{
        margin: 10px 0 0;
    }
    .articlePageContent .articlePageWrap .sideInfo .authorIntro .pic{
        width: 100px;
        height: 100px;
        border-radius: 300px;
        overflow: hidden;
    }
    /* 測欄相關文章 */
    .articlePageContent .articlePageWrap .sideInfo .relativeSide{
        margin-top: 40px;
    }
    .articlePageContent .articlePageWrap .sideInfo .relativeSide .item a{
        display: flex;
        align-items: center;
    }
    .articlePageContent .articlePageWrap .sideInfo .relativeSide .item .pic{
        width: 50px;
        height: 50px;
        border-radius: 200px;
        overflow: hidden;
    }
    .articlePageContent .articlePageWrap .sideInfo .relativeSide .item .txt{
        width: 70%;
        padding: 10px;
        box-sizing: border-box;
    } 
    .articlePageContent .articlePageWrap .sideInfo .relativeSide .item .txt p{
        font-size: 13px;
        line-height: 1.5;
    }
}