.backObj{
    .memeberTitle{
        width: 100%;
        box-sizing: border-box;
        padding: 1% 2%;
        list-style: none;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr .8fr;
            grid-template-columns: 1fr 1fr 1fr .8fr;
        -webkit-column-gap: 10px;
                column-gap: 10px;
        background-color: #bbbbbb;
        font-size: 16px;
        color: #000000;
        font-weight: bold;
    }
    /* 會員清單 */
    .memberList{
        width: 100%;
        box-sizing: border-box;
        padding: 1% 2%;
        list-style: none;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr .8fr;
            grid-template-columns: 1fr 1fr 1fr .8fr;
        -webkit-column-gap: 10px;
                column-gap: 10px;
        background-color: #ffffff;
        font-size: 16px;
        color: #000000;
        font-weight: bold;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .memberList:hover {
        background-color: #f8f2ed;
    }
    .memberList li {
        white-space: nowrap;
        /* 不斷行 */
        overflow: hidden;
        /* 隱藏 */
        text-overflow: ellipsis;
        /* 出現省略符號 */
    }
    .memberList li:last-child {
        box-sizing: border-box;
        padding: 5%;
        background-color: #6599e8;
        border-radius: 15px;
        text-align: center;
        color: #ffffff;
    }
    .memberList li:last-child:hover {
        cursor: pointer;
    }
}
