.backArticle{
    .articleTitle{
        width: 100%;
        box-sizing: border-box;
        padding: 1% 2%;
        list-style: none;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: .5fr .5fr 1.5fr 1fr 1fr 1fr .5fr 1fr;
            grid-template-columns:.5fr .5fr 1.5fr 1fr 1fr 1fr .5fr 1fr; 
        -webkit-column-gap: 10px;
                column-gap: 10px;
        background-color: #ffffff;
        border-bottom: 1px solid #14141430;
        font-size: 16px;
        color: #141414;
        font-weight: bold;
        text-align: center;
    }
    /* 文章清單 */
    .articleList{
        width: 100%;
        box-sizing: border-box;
        padding: 1% 2%;
        list-style: none;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: .5fr .5fr 1.5fr 1fr 1fr 1fr .5fr 1fr;
            grid-template-columns:.5fr .5fr 1.5fr 1fr 1fr 1fr .5fr 1fr; 
        -webkit-column-gap: 10px;
                column-gap: 10px;
        background-color: #ffffff;
        font-size: 16px;
        color: #000000;
        font-weight: normal;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
    .articleList:hover {
        background-color: #39489710;
    }
    .articleList li {
        white-space: nowrap;
        /* 不斷行 */
        // overflow: hidden;
        /* 隱藏 */
        text-overflow: ellipsis;
        /* 出現省略符號 */
    }
    .pageIndex li{
        margin: 0 0.5em;
        cursor: pointer;
    }
}

.articleLigthtBox{
    .txtArea{
        line-height: 2;
        hr{
            border: 1px solid #14141420;
        }
        button{
            position: fixed;
            bottom: 8%;
            right: 8%;
            margin: 1em 0;
        }
        .pic img{
            width: 30%;
        }
    }
}