// #mouse負片效果(待寫){
//     width: 100px;
//     height: 100px;
//     background-color: firebrick;
//     border-radius: 200px;
//     // filter:invert(1);
//     position: absolute;
//     top: 100px;
//     left: 0%;
//     z-index: 99999;
// }
.homeWrap{
    width: 100%;
}
/* 介紹圖文 */
.homeIntro{
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /* background-color: #f00; */
}
.homeIntro .intro{
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.homeIntro .intro .pic{
    /* 定位在homeIntro */
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}
.homeIntro .intro .pic img{
    width: 100%;
}
.homeIntro .intro h1{
    /* 定位在homeIntro */
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 6em;
    font-weight:550;
}
/* 滑鼠標示 */
.homeIntro .scrollMouse{
    /* 定位在homeIntro */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    display: block;
    margin:100px auto;
    animation-name:updown;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
/* 滑鼠動畫 */
@keyframes updown {
    0%{ 
        transform: translateY(0px);
        opacity: 0.6;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        transform: translateY(20px);
        opacity: 0.6;
    }
}
.homeIntro .scrollMouse .pic{
    width: 40px;
    margin: auto;
}
.homeIntro .scrollMouse .pic img{
    width: 100%;
    opacity: 0.5;
}
.homeIntro .scrollMouse p{
    text-align: center;
}
@media screen and (min-width:768px){
    .homeIntro .intro .pic{
        position: absolute;
        width: 600px;
    }
    .homeIntro .intro .pic img{
        width: 100%;
    }
    .homeIntro .intro h1{
        /* 定位在homeIntro */
        display: inline-block;
        border-right: 2px solid #8888;
        position: absolute;    
        top: 50%;
        transform: translateY(-50%);
        right: 100%;
        width:13em;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 3s steps(13),    
                    caret .3s steps(1);
        animation-iteration-count:infinite;
        animation-direction:alternate;
    }
    // h1打字機效果
    @keyframes typing {
        from { width: 0 }
    }
    @keyframes caret {
    50% { border-color: transparent; }
    }
}
/* 分類區 */
.homeCatalog{
    overflow: hidden;
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #FBF7F3;
    /* background-color: #f00; */
}
/* 分類區圖文設定*/
.homeCatalog .catalog{
    display: flex;
}
.homeCatalog .catalog .card{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
}
.homeCatalog .catalog .card .pic{
    width: 250px;
    padding: 0px 10px;
    box-sizing: border-box;
}
.homeCatalog .catalog .card .pic img{
    width: 100%;
}
.homeCatalog .catalog .brame .pic img{
    z-index: 9999;
}
.homeCatalog .catalog .card .txt{
    display: block;
    width: 200px;
    padding: 0px 5px;
    box-sizing: border-box;
}
.homeCatalog .catalog .card button{
    margin-top: 20px;
}
// start card設定
.homeCatalog .catalog .card.start .txt{
    display: block;
    width: auto;
    padding: 0px 5px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.homeCatalog .catalog .card.start .txt mark{
    background-color: transparent;
    font-weight: 500;
}
// start card毛玻璃
.homeCatalog .catalog .card.start .txt:before{
    content: '';
    // 定位在.card.start
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 90%;
    border-radius: 1em;
    background-color: #3e444a05;
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
    animation: blur 2s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
}
// 特別挑整手機h1大小，讓他不縮排
.homeCatalog .catalog .card.start .txt h1{
    font-size: 1.953em;
}
@keyframes blur {
    from{
        left: 0%;
    }
    to{
        left: 50%;
    }
}
@media screen and (min-width:768px){
    .homeCatalog .catalog .card .pic{
        width: 400px;
    }
    .homeCatalog .catalog .card .txt{
        width: 400px;
    }
    // 確保h1不覆寫
    .homeCatalog .catalog .card.start .txt h1{
        font-size: 4.375em;
    }
}
/* 藝廊區 */
.homeGallery{
    /* width: 90%;
    max-width: 1200px; */
    /* height: 100vh; */
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 901;
}
// 滑動假圖
.homeGallery .scrollPic{
    width: 50%;
    /* 定位在.homeGallery */
    position: absolute;
    top: -30%;
    left: 50%;
    z-index: 999;
}
.homeGallery .scrollPic img{
    width: 100%;
}
// 背景圖
.homeGallery .pic{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
}
.homeGallery .pic img{
    height: 100%;
}
// 展間內容
.homeGallery .txt{
    /* 定位在.homeGallery */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-radius: 1em;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    // 透明卡片
    background-color: #3e444a05;
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
.homeGallery .txt h2,.homeGallery .txt p{
    width: 50%;
}
.homeGallery .txt button{
    margin: 30px 0 0px;
}
@media screen and (min-width:768px){
    .homeGallery .scrollPic{
        width: 300px;
        top: -30%;
        left:50%;
    }
    .homeGallery .txt{
        width: 30%;
    }
}
/* 會員中心 */
.homeMember{
    /* width: 90%;
    max-width: 1200px; */
    /* height: 100; */
    margin: auto;
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
}
.homeMember .scrollPic{
    width: 50%;
    /* 定位在.homeMember */
    position: absolute;
    top: -30%;
    left: 50%;
    z-index: 900;
}
// 展間內容
.homeMember .scrollPic img{
    width: 100%;
}
.homeMember .pic{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
}
.homeMember .pic img{
    height: 100%;
}
.homeMember .txt{
    /* 定位在.homeMember */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-radius: 1em;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    // 透明卡片
    background-color: #3e444a05;
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
.homeMember .txt h2,.homeMember .txt p{
    width: 50%;
}
.homeMember .txt button{
    margin: 30px 0 0px;
}
@media screen and (min-width:768px){
    .homeMember .scrollPic{
        width: 300px;
        top: -30%;
        left:50%;
        z-index: 999;
    }
    .homeMember .txt{
        width: 30%;
    }
}
/* 藝論 */
.homeNews{
    height: 100vh;
    width: 100%;
    display: block;
    /* background-color: rgb(241, 154, 154); */
    justify-content: center;
    align-items: center;
    padding: 40% 0;
    position: relative;
    overflow: hidden;
}
.homeNews .newsContain{
    width: 90%;
    margin: auto;
    display: block;
    // 報紙效果
    background-color: #fbf7f3;
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
    box-shadow: inset 0 0 30px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.2);
    position: relative;
}
// 報紙後層效果
.homeNews .newsContain:before, .homeNews .newsContain:after  {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotateZ(2.5deg);
    z-index: -1;
    box-shadow: inset 0 0 30px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.2);
}
.homeNews .newsContain:after  {
    transform: rotateZ(-2.5deg);
}
.homeNews .newsContain h2{
    text-align: center;
    position: relative;
}
.homeNews .newsContain h2:after{
    content: '';
    background-color: #797979fd;
    width: 60%;
    height: 3px;
    /* 定位在.homeNews .newsContain h2 */
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}
.homeNews .newsContain .item{
    display: block;
    // 90%裡面的80%
    width: 80%;
    margin: auto;
}
.homeNews .newsContain .item .pic,.homeNews .newsContain .item .txtContent{
    width: 100%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}
.homeNews .newsContain .item .pic img{
    width: 100%;
}
.homeNews .newsContain .item .txtContent button{
    margin: 20px auto;
    display: flex;
    white-space:nowrap;
    z-index: 5;
}
@media screen and (min-width:768px){
    .homeNews .newsContain{
        width: 70%;
    }
    .homeNews .newsContain .item{
        // 70%裡面的70%
        display: flex;
        width: 70%;
    }
    .homeNews .newsContain .item .pic{
        width: 50%;
        padding: 20px;
    }
    .homeNews .newsContain .item .txtContent{
        width: 50%;
    }
    .homeNews .newsContain .item .pic{
        margin: 0;
    }
    .homeNews .newsContain .item .txtContent button{
        margin: 20px 0px;
    }
}
/* 裝飾圖片 以下都定位在.homeNews*/
.homeNews .decorate.Pictopleft{
    position: absolute;
    width: 150px;
    top:5%;
    left: -15%;
    z-index: 2;
}
.homeNews .decorate.Pictopright{
    position: absolute;
    width: 300px;
    top:10%;
    right: -50%;
    z-index: 2;
}
.homeNews .decorate.Picbottomleft{
    position: absolute;
    width: 150px;
    bottom:10%;
    left: -30%;
    z-index: 2;
}
.homeNews .decorate.Picbottomright{
    position: absolute;
    width: 300px;
    bottom:5%;
    right: -50%;
    z-index: 2;
}
.homeNews .decorate img{
    width: 100%;
}
@media screen and (min-width:768px){
    .homeNews .decorate.Pictopleft{
        width: 400px;
        top: 15%;
        left: -10%;
    }
    .homeNews .decorate.Pictopright{
        position: absolute;
        width: 800px;
        top:5%;
        right: -30%;
    }
    .homeNews .decorate.Picbottomleft{
        width: 300px;
        bottom:13%;
        left: -10%;
    }
    .homeNews .decorate.Picbottomright{
        position: absolute;
        width: 700px;
        bottom:10%;
        right: -20%;
    }
}








