@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* 100%安全框 */
/* 100%安全框 */
.listingVue{
    width: 100%;
    margin: auto;
}
.safeFrame{
    max-width: 1200px;
    margin: auto;
}

/* 上架步驟 */
.listingSteps{
    margin: auto;
    width: 90%;
    max-width: 1200px;
}
.listingSteps h2{
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}
.listingSteps h2 b{
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    padding-top: 20px;
}
// .listingSteps h4{
//     margin-top: -20px;
// }
.listingSteps .options{
    display: flex;
}
.listingSteps .options .option{
height: 300px;
display: flex;
position: relative;
overflow: hidden;
/* word-wrap: break-word; */
margin: 10px;
background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
background-size: auto 120%;
background-position: center;
cursor: pointer;
transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
padding: 20px;
line-height: 1.5;
box-sizing: border-box;
}
.options .option:nth-child(1) {
    display: none;
}
.options .option:nth-child(2) {
    display: none;
}
.options .option:nth-child(4) {
    display: none;
}
.listingSteps .options .option .sub img{
width: 30px;
height: 30px;
vertical-align: middle;
padding-bottom: 5px;
}

.listingSteps .options .option:nth-child(1) {
// --defaultBackground: #ed5565ee;
    background-color: #39489730;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
.listingSteps .options .option:nth-child(2) {
// --defaultBackground: #fc6e51ee;
    background-color: #39489730;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
.listingSteps .options .option:nth-child(3) {
// --defaultBackground: #ffce54ee;
    background-color: #39489730;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
.listingSteps .options .option:nth-child(4) {
// --defaultBackground: #2ecc71ee;
    background-color: #39489730;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
.listingSteps .options .option:nth-child(5) {
// --defaultBackground: #5d9cecee;
    background-color: #39489730;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
.listingSteps .options .option:nth-child(6) {
// --defaultBackground: #ac92ecee;
    background-color: #39489730;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
.listingSteps .options .option.active {
flex-grow: 10000;
transform: scale(1);
/* max-width: 600px; */
margin: 10px;
border-radius: 40px;
background-size: auto 100%;
/* &:active {
transform:scale(0.9);
} */
}
.listingSteps .options .option.active .shadow {
box-shadow: inset 0 -120px 120px -120px #14141420, inset 0 -120px 120px -100px #14141420;
}
.listingSteps .options .option.active .label {
bottom: 20px;
left: 20px;
}
.listingSteps .options .option.active .label .info > div {
left: 0px;
opacity: 1;
}
/*option沒被點擊時寬度*/
.listingSteps .options .option:not(.active) {
flex-grow: 1;
border-radius: 30px;
width: 60px;
}
/*option沒被點擊時文字*/
.listingSteps .options .option:not(.active) .sub {
opacity: 0;
}
.listingSteps .options .option:not(.active) .shadow {
bottom: -40px;
box-shadow: inset 0 -120px 0px -120px #14141420, inset 0 -120px 0px -100px #14141420;
}
.listingSteps .options .option:not(.active) .label {
bottom: 10px;
left: 10px;
}
.listingSteps .options .option:not(.active) .label .info > div {
left: 20px;
opacity: 0;
}
.listingSteps .options .option .shadow {
position: absolute;
bottom: 0px;
left: 0px;
right: 0px;
height: 120px;
transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.listingSteps .options .option .sub{
transition-delay: 0.1s;
color: #141414;
font-size: 1.2rem;
padding-top: 30px;
}
.listingSteps .options .option .label {
display: flex;
position: absolute;
right: 0px;
height: 40px;
transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.listingSteps .options .option .label .icon {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 30px;
max-width: 30px;
height: 30px;
// height: 40px;
border-radius: 100%;
background-color: white;
color: var(--defaultBackground);
}
.listingSteps .options .option .label .icon i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listingSteps .options .option .label .icon i img{
    width: 70%;
}
.listingSteps .options .option .label .info {
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 10px;
// color: white;
color: white;
/* white-space: pre; */
}
.listingSteps .options .option .label .info > div {
position: relative;
transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.listingSteps .options .option .label .info .main {
font-weight: bold;
font-size: 1.2rem;
}

/* 藝廊效果title */
.bannerAdTopic h4{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

/* 產品效果廣告展示-貓頭鷹owl-carousel */
.owl-carousel{
    // background-color:  #FBF7F3;
    background-color:  #cccccc55;
    margin-bottom: -11px;
    margin-top: 50px;
}
.owl-controls{
    position: relative;
}
.owl-theme{
    font-size: 30px;
}
.owl-prev{
    position: absolute;
    top: 45%;
    left: 20px;
    opacity: 0.5;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    // border-radius: 200px;
    -webkit-box-shadow: 0.1em 0.5em 0.5em #252b3020;
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    background-color: #ffffff50;
    border: 1px solid #55595e20;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    -webkit-backdrop-filter: blur(0.5em);
    backdrop-filter: blur(0.5em);
}
.owl-next{
    position: absolute;
    top: 45%;
    right: 20px;
    opacity: 0.5;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    // border-radius: 200px;
    -webkit-box-shadow: 0.1em 0.5em 0.5em #252b3020;
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    background-color: #ffffff50;
    border: 1px solid #55595e20;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    -webkit-backdrop-filter: blur(0.5em);
    backdrop-filter: blur(0.5em);
    border-radius: 50%;
}
.owl-dots{
    position: absolute;
    top: 85%;
    right: 40%;
    opacity: 0.3;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
}
// flip效果
// .warp{
//     width: 800px;
//     height: 600px;
//     border: 5px solid red;
//     margin: auto;
// }
// .warp .card{
//     width: 500px;
//     position: relative;
//     margin: auto;
//     transform: perspective(1000px);
// }
// .warp .card .cover #first img{
//     height: 120px;
// }
// .cover, .back{
//     width: 160px;
//     height: 120px;
//     backface-visibility: hidden;
//     position: absolute;
//     top: 20px;
//     left: 35%;
//     transition: .25s ease-in-out;
//     box-shadow: 1px 1px 3px 1px #999;
//     box-sizing: border-box;
//     -webkit-box-reflect: below 15px linear-gradient(transparent, rgba(0, 0, 0, .5));
// }
// .cover{
//     // background-image: url('../assets/image/listingImage/listing_bg_picture1.png');
//     background-size: contain;
//     background-repeat: no-repeat;
//     transform: rotatey(0deg);
//     display: flex;
// }
// .cover img{
// height: 120px;
// }
// .back{
//     background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
//     color: white;
//     transform: perspective(1000px) rotatey(-180deg);
//     text-align: center;
// }
// .back p{
//     text-shadow: 5px 5px 2px #333;
//     font-size: 22px;
// }
// .card:hover .cover{
//     transform: rotateY(180deg);
// }
// .card:hover .back{
//     transform: rotateY(0deg);
// }

/*flip_click*/
.card {
    // margin: 100px auto 0;
    margin-left: 30%;
    margin-top: 2%;
    width: 200px;
    height: 140px;
    perspective: 1000px;
    -webkit-box-reflect: below 15px linear-gradient(transparent, rgba(0, 0, 0, .5));
    }
.card_inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    }
.card_inner.is-flipped {
    transform: rotateY(180deg);
    }
.card_face {
    position: absolute;
    width: 200px;
    height: 140px;
    /* height: 100%; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    /* border-radius: 16px; */
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    }
.card_face img{
    width: 200px;
    height: 140px;
    }
.card_face--front {
    // background-image: url('card-flip-click/listing_bg_picture1.png');
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
    }
.card_face--back {
    // width: 400px;
    // background-color: blue;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
    color: white;
    transform: rotateY(180deg);
    }
.card_content {
    width: 100%;
    height: 100%;
    }
    .card_header {
    position: relative;
    padding: 30px 30px 40px;
    }
    .card_header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
    }
    .card_body h4{
    text-align: center;
    padding-top: 15%;
    font-size: 22px;
    }



/* banner圖片*/
.banner img{
height: 200px;
}
/* 綠色方塊收起按鈕 */
#cubeBtn{
    position: absolute;
    top: 100%;
    right: 5%;
    margin-left: 10%;
    width: 80px;
    height: 40px;
    font-size: 16px;
}
/* 綠色方塊 */
.cube{
    position: relative;
    margin-bottom: 10%;
    margin-left: 42%;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotatex(-30deg);
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(-360deg);
    }
}
.cube div{
    position: absolute;
    top: 50%;
    left:0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#00ec00);
    transform: rotateY(calc(90deg*var(--i))) translateZ(50px);
}
.cube .top{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: ('../image/listingImage/green_arrow.png');
    // background-size: 100px 100px;
    // background-repeat: no-repeat;
    transform: rotateX(90deg) translateZ(50px);;
}
.cube .top img{
    width: 100px;
    height: 100px;
}
.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 170);
    transform: translateZ(-150px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(255,0,170,0.2),
    0 0 200px rgba(255,0,170,0.4),
    0 0 300px rgba(255,0,170,0.6),
    0 0 400px rgba(255,0,170,0.8),
    0 0 500px rgba(255,0,170,1);
}

/*背景圖*/
// .background{
//     width: 100%;
//     background-image: url('../../assets/image/all_bgimg.png') scroll no-repeat 50% 50%/100% 100%;
//     background-size: contain;
// }
/* 上架填寫分頁1+分頁2 */
.tab-content{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    margin-top: 100px;
}
.tab-content #tab1{
    display: none;
}
.tab-content #tab2{
    display: none;
}
.tab-content .tag:first-of-type{
margin-right: 3.5%;
}
.tab-content .tag{
    cursor: pointer;
    width: 160px;
    height: 30px;
    box-sizing: border-box;
    padding: 2px 0px 20px 2px;
    background-color: #efefef;
    // border-right: 1px solid #55595e20;
    // border-top: 1px solid #55595e20;
    // border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
    // box-shadow: 1px 0px  0px 0px #aaaaaa33,
    //             -1px 0px  0px 0px #aaaaaa33,
    //             0px -1px 0px 0px #aaaaaa33;
    box-shadow: -1px 0px  0px 0px #aaaaaa33,
                0px -1px 0px 0px #aaaaaa33;
    border-radius: 5px 5px 0px 0px / 5px 5px 0px 0px;
    z-index: 1;
    position: relative;
    font-size: 22px;
    color: #aaa;
    // margin-bottom: 10px;
}
/*絕對定位tag小三角型:父層.tag */
.tab-content .tag::after{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 99%;
    border-bottom: 30px solid #efefef;
    border-right: 15px solid #0000;
}
/* 絕對定位tag小三角型斜線陰影:父層.tag */
.tab-content .tag::before{
    content: '';
    width: 15px;
    height: 32.5px;
    position: absolute;
    top: -12%;
    left: 104%;
    transform: rotatez(-26.5deg);
    box-shadow: -1.2px 0px 0px 0px #aaaaaa22;
    z-index: 1;
}
.tab-content .content{
    order: 1; /*全部排下*/
    display: none;
}
.tab-content input[type='radio']:checked + .tag + .content{
    display: block;
}
.tab-content input[type="radio"]:checked + .tag {
    // background-color: #3e444a05;
    background-color: #fff;
    color: #394897;
}
.tab-content input[type="radio"]:checked + .tag::after {
    content: '';
    // border-bottom: 30px solid #3e444a05;
    border-bottom: 30px solid #fff;
    border-right: 15px solid #fff;
}
/* 所有的輸入框text-box */
.textBox{
    width: 95%;
    height: 35px;
    padding-left: 15px;
    margin: 0px 0px 20px 0px;
    border-radius: 50px;
    border: 0px;
    outline: 0px;
    // box-shadow: inset 1px 1px 1px 1px #ccc;
    // background-color: #3e444a05;
    background-color: transparent;
    -webkit-box-shadow: 0.1em 0.1em 0.1em #252b3020 inset;
    box-shadow: 0.1em 0.1em 0.1em #252b3020 inset;
    border: 1px solid #94969b50;
    border-right: 2px solid #ffffff80;
    border-bottom: 2px solid #ffffff80;
    border-left: 1px solid #ffffff30;
    -webkit-backdrop-filter: blur(0.5em);
    backdrop-filter: blur(0.5em);
}
.textBox:hover{
    box-shadow: inset 2px 2px 2px 2px #ccc;
}
/* 上架競標藝術品頁面 + 展覽品頁面*/
.content{
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 5px / 0px 5px 5px 5px;
    // box-shadow: 1px 0px 5px 0px #aaaaaa55,
    //             -1px 0px 5px 0px #aaaaaa55,
    //             0px 1px 5px 0px #aaaaaa55;
    box-shadow: 1px 0px 5px 0px #aaaaaa55,
                -1px 0px 0px 0px #aaaaaa00,
                0px 1px 2px 0px #aaaaaa55;
    background-color: #3e444a05;
    // box-shadow: 0.1em 0.5em 0.5em #252b3020;
    // box-shadow: 0.1em 0.5em 0.5em #252b3020;
    // border: 1px solid #94969b50;
    // border-right: 1px solid #55595e20;
    // border-bottom: 1px solid #55595e20;
    // border-left: 1px solid #ffffff30;
    // backdrop-filter: blur(0.5em);
    // position: relative;
    // z-index: 55;
}
// .content h5{
//     font-size: 18px;
//     color: #555;
//     display: block;
//     margin-bottom: 20px;
// }
.content h6{
    font-size: 16px;
    color: #555;
    display: block;
    margin-bottom: 20px;
}
/*競架時間*/
.bidTime{
    margin: 0px 0px 20px 0px;
}
.bidTime select{
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 30px;
    padding: 5px;
    outline: none;
    background-color: #3e444a05;;
    box-shadow: inset 1px 1px 1px 1px #ccc;
}
/*競架區間*/
.bidPitch{
    margin: 0px 0px 20px 0px;
}
.bidPitch select{
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 30px;
    background-color: #3e444a05;;
    box-shadow: inset 1px 1px 1px 1px #ccc;
    padding: 5px;
    outline: none;
    /*appearance: none;*/
}
/*產品種類*/
.productType{
    margin: 0px 0px 20px 0px;
}
// .productType h4{
//     margin: 20px 0px 10px 0px;
// }
.productType .allType .type{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: lighter;
}
.productType .allType .type #type1, #type2, #type3, #type4{
    cursor: pointer;
}
.productType .allType .type label{
    font-size: 14px;
    font-weight: lighter;
}

.ad{
    position: relative;
}
.ad #ad1, #ad2{
    cursor: pointer;

}
.ad .show h4 span img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
}
.content .ad .qAnswer{
position: absolute;
top: -30px;
left: 185px;
font-size: 12px;
color: #666;
background-color: #ccc;
width: 220px;
// height: 120px;
// line-height: 1.5;
border-radius: 5px;
box-sizing: border-box;
padding: 5px 5px 5px 15px;
opacity: 0.9;
display: none;
z-index: 1;
}
.content .ad .qAnswer::before{
    content: '';
    position: absolute;
    top: 35px;
    left: -15px;
    width: 0;
    height: 0;
    border-bottom: 15px solid #ccc;
    border-left: 15px solid #0000;
}
.content .ad .qAnswer::after{
    content: '';
    position: absolute;
    top: 50px;
    left: -15px;
    border-top: 15px solid #ccc;
    border-left: 15px solid #0000;
}
.content .ad .qAnswer p{
    // font-size: 10px;
    font-size:0.875em;
    line-height: 1.5;
	letter-spacing:2px;
}
.ad label{
    font-size: 14px;
    font-weight: lighter;
}
.ad .show:hover >.qAnswer{
    display: block;
}
.uploadFile{
    margin: 40px 0px 20px 0px;
    box-sizing: border-box;
}
.uploadFile .uploadPicture{
    display: flex;
    flex-wrap: wrap;
}
.uploadFile .uploadPicture li{
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    // padding-top: -15px;
    /* margin: auto; */
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0px;
    outline: 0px;
    // background-color: #3e444a05;;
    // box-shadow: inset 1px 1px 2px 2px #ccc;
    background-color: transparent;
    -webkit-box-shadow: 0.1em 0.1em 0.1em #252b3020 inset;
    box-shadow: 0.1em 0.1em 0.1em #252b3020 inset;
    border: 1px solid #94969b50;
    border-right: 2px solid #ffffff80;
    border-bottom: 2px solid #ffffff80;
    border-left: 1px solid #ffffff30;
    -webkit-backdrop-filter: blur(0.5em);
    backdrop-filter: blur(0.5em);
}
.uploadFile .uploadPicture li:hover{
    /* background-color: #fbf7f0; */
    box-shadow: inset 2px 2px 3px 3px #ccc;
}
.uploadFile .uploadPicture li:nth-child(3){
    display: none;
}
.uploadFile .uploadPicture li:nth-child(4){
    display: none;
}
.uploadFile .uploadPicture li .pic2.here {
    display: block;
	pointer-events: auto;
}
.uploadFile .uploadPicture li:nth-child(4).show {
    opacity: 1;
	pointer-events: auto;
}
.uploadFile .uploadPicture input{
    display: none;
    // opacity: 0;
}
.uploadFile .uploadPicture li img{
    display: block;
    margin: auto;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-top: 20%;
}
.uploadFile .uploadPicture li div{
    margin-left: 30%;
    font-size: 12px;
    // margin-top: 15%;
}
/* 藝品證明上傳 */
.uploadCertification .certification{
width: 120px;
height: 120px;
box-sizing: border-box;
// padding-top: 15px;
border-radius: 10px;
border: 0px;
outline: 0px;
// background-color: #3e444a05;;
// box-shadow: inset 1px 1px 2px 2px #ccc;
text-align: center;
background-color: transparent;
-webkit-box-shadow: 0.1em 0.1em 0.1em #252b3020 inset;
box-shadow: 0.1em 0.1em 0.1em #252b3020 inset;
border: 1px solid #94969b50;
border-right: 2px solid #ffffff80;
border-bottom: 2px solid #ffffff80;
border-left: 1px solid #ffffff30;
-webkit-backdrop-filter: blur(0.5em);
backdrop-filter: blur(0.5em);
}
.certification:hover{
    box-shadow: inset 2px 2px 3px 3px #ccc;
}
.uploadCertification input{
    // display: none;
    opacity: 0;
}
.uploadCertification .certification img{
    width: 80px;
    height: 80px;
    margin-top: -15%;
}
/* 產品資訊描述 */
.productIntro{
    margin: 20px 0px 20px 0px;
    /* box-sizing: border-box; */
}
.productIntro textarea{
    width: 93%;
    padding: 15px;
    margin: 10px 0px 20px 0px;
    border-radius: 10px;
    border: 0px;
    outline: none;
    // box-shadow: inset 1px 1px 2px 1px #ccc;
    // background-color: #3e444a05;
    resize: none;
    background-color: transparent;
    -webkit-box-shadow: 0.1em 0.1em 0.1em #252b3020 inset;
    box-shadow: 0.1em 0.1em 0.1em #252b3020 inset;
    border: 1px solid #94969b50;
    border-right: 2px solid #ffffff80;
    border-bottom: 2px solid #ffffff80;
    border-left: 1px solid #ffffff30;
    -webkit-backdrop-filter: blur(0.5em);
    backdrop-filter: blur(0.5em);
}
.productIntro textarea:hover{
    box-shadow: inset 2px 3px 3px 1px #ccc;
}

/* 上架預覽+確認按鈕 */
.btn{
    width: 100%;
    /* margin: auto; */
    text-align: center;
    box-sizing: border-box;
}
.btn input{
    margin: 20px 10px 0px 10px;
}
.btn .btnProduct{
    /* width: 100px; */
    /* height: 45px; */
    /* border-radius: 30px; */
    /* color: black; */
    /* font-family:'Noto Sans TC', sans-serif; */
    /* border: 1px solid #FFD60A; */
    cursor: pointer;
}
/* .btn .btnProduct:first-of-type{
    background-color: #fff;
} */

/* 上架點綴背景圖(才顯示) */
.listingBgPic4 img{
    /* width: 300px; */
    display: none;
}

/* 燈箱預覽畫面 */
.modal-container{
    /* margin: auto; */
    padding-top: 5%;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    // align-items: center;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    pointer-events: none;
    // display: fixed;
    z-index: 9999999;
}
.modal{
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 50px;
    // box-sizing: border-box;
}
.modal-container.show {
	opacity: 1;
	pointer-events: auto;
}
.modal-container .modal .modalPic img{
    width: 200px;
    height: 160px;
    padding: 30px 0px 0px 20px;
}
// .modal-container .modal p{
//     // margin: 10px 10px;
//     margin-left: 10px;
//     // font-size: 12px;
//     // display: block;
//     margin-top: -8px;
// }
.modalProductInfo{
    padding: 20px 0px 20px 5px;
}
.modal-container .modal .modalProductInput{
    overflow-y: scroll;
    width: 100%;
    height: 95%;
}
.modalProductInput .modalValue{
    text-align: left;
    // display: flex;
    margin: 10px 0px;
}
.modalProductInput .modalValue p{
    text-align: left;
    // padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}
.modalProductInput .modalValueText{
    width: 100%;
    // display: flex;
    // margin: 10px 0px;
    text-align: left;
}
.modalProductInput .modalValueText p{
    text-align: left;
    font-size: 16px;
    margin: 10px 0px;
    word-wrap: break-word;
}
.modal-container .lightboxBtn{
    // width: 100px;
    // height: 45px;
    /* border-radius: 30px;
    color: black;
    font-family:'Noto Sans TC', sans-serif;
    border: 1px solid #FFD60A; */
    cursor: pointer;
}



/* web視窗 */
@media screen and (min-width:768px){
    /* 100%安全框 */
.listingVue{
    width: 100%;
}
.safeFrame{
    // width: 90%;
    max-width: 1200px;
    margin: auto;
}
// listing頁面標題
.listingSteps{
    width: 100%;
}

/* 上架步驟 */
.listingSteps{
    width: 100%;
    margin: auto;
}
.listingSteps h2{
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}
.listingSteps h2 b{
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    padding-top: 30px;
}
// .listingSteps h4{
//     margin-top: -20px;
// }
.listingSteps .options{
    display: flex;
}
.listingSteps .options .option{
height: 300px;
display: flex;
position: relative;
overflow: hidden;
/* word-wrap: break-word; */
margin: 10px;
background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
background-size: auto 120%;
background-position: center;
cursor: pointer;
transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
padding: 20px;
box-sizing: border-box;
}
.listingSteps .options .option .sub img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-bottom: 5px;
}
.listingSteps .options .option{
    background-color: #3e444a05;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}

.listingSteps .options .option.active {
flex-grow: 10000;
transform: scale(1);
/* max-width: 600px; */
margin: 10px;
border-radius: 40px;
background-size: auto 100%;
/* &:active {
    transform:scale(0.9);
} */
}
.listingSteps .options .option.active .shadow {
box-shadow: inset 0 -120px 120px -120px #14141420, inset 0 -120px 120px -100px #14141420;
}
.listingSteps .options .option.active .label {
bottom: 20px;
left: 20px;
}
.listingSteps .options .option.active .label .info > div {
left: 0px;
opacity: 1;
}
/*option沒被點擊時寬度*/
.listingSteps .options .option:not(.active) {
flex-grow: 1;
border-radius: 30px;
width: 60px;
}
/*option沒被點擊時文字*/
.listingSteps .options .option:not(.active) .sub {
opacity: 0;
}
.listingSteps .options .option:not(.active) .shadow {
bottom: -40px;
box-shadow: inset 0 -120px 0px -120px #14141430, inset 0 -120px 0px -100px #14141430;
}
.listingSteps .options .option:not(.active) .label {
bottom: 10px;
left: 10px;
}
.listingSteps .options .option:not(.active) .label .info > div {
left: 20px;
opacity: 0;
}
.listingSteps .options .option .shadow {
position: absolute;
bottom: 0px;
left: 0px;
right: 0px;
height: 120px;
transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.listingSteps .options .option .sub{
transition-delay: 0.1s;
color: #141414;
font-size: 1.2rem;
padding-top: 30px;
}
.listingSteps .options .option .label {
display: flex;
position: absolute;
right: 0px;
height: 40px;
transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.listingSteps .options .option .label .icon {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: 40px;
max-width: 40px;
height: 40px;
border-radius: 100%;
background-color: white;
color: var(--defaultBackground);
overflow: hidden;
}
.listingSteps .options .option .label .info {
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 10px;
color: white;
/* white-space: pre; */
}
.listingSteps .options .option .label .info > div {
position: relative;
transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.listingSteps .options .option .label .info .main {
font-weight: bold;
color: #394897;
font-size: 1.2rem;
}

// banner標題
.bannerAdTopic h4{
    width: 100%;
}
/* banner圖片*/
.banner img{
    height: 500px;
}

    /*輪播dots*/
    .owl-dots{
        position: absolute;
        top: 85%;
        right: 46%;
        opacity: 0.3;
    }
    // .cover, .back{
    //     width: 400px;
    //     height: 280px;
    //     top: 60px;
    //     left: 35%;
    //     -webkit-box-reflect: below 15px linear-gradient(transparent, rgba(0, 0, 0, .5));
    // }
    // .cover img{
    //     height: 282px;
    //     }
    // .back p{
    //     text-shadow: 5px 5px 2px #333;
    //     font-size: 36px;
    //     padding-top: 20%;
    // }


    /*flipClick*/
    .card {
        margin: 100px auto 0;
        width: 400px;
        height: 280px;
        perspective: 1000px;
        -webkit-box-reflect: below 15px linear-gradient(transparent, rgba(0, 0, 0, .5));
        }
    .card_face {
        position: absolute;
        width: 400px;
        height: 280px;
        /* height: 100%; */
        // -webkit-backface-visibility: hidden;
        // backface-visibility: hidden;
        // overflow: hidden;
        /* border-radius: 16px; */
        // box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
        }
    .card_face img{
        width: 400px;
        height: 280px;
        }
    /* 綠色方塊收起按鈕 */
    .card_body h4{
        text-align: center;
        // padding-top: 15%;
        font-size: 1.5em;
        line-height: 2;
        letter-spacing:2px;
    }

    /*web綠色方塊旋轉效果*/
    #cubeBtn{
    position: absolute;
    // top: 180%;
    // right: 25%;
    top: 100%;
    right: 28%;
    margin-left: 10%;
    width: 80px;
    height: 40px;
    font-size: 16px;
    }
    .cube{
        position: relative;
        margin-left: 43%;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        transform: rotatex(-30deg);
        animation: animate 15s linear infinite;
    }
    @keyframes animate {
        0%{
            transform: rotateX(-30deg) rotateY(0deg);
        }
        100%{
            transform: rotateX(-30deg) rotateY(360deg);
        }
    }
    .cube div{
        position: absolute;
        top: 10%;
        left: 0%;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }
    .cube div span{
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#151515,#00ec00);
        transform: rotateY(calc(90deg*var(--i))) translateZ(100px);
    }
    .cube .top{
        position: absolute;
        top: 50%;
        left: 0%;
        width: 200px;
        height: 200px;
        background-image: ('../image/listingImage/green_arrow.png');
        background-size: 200px 200px;
        background-repeat: no-repeat;
        transform: rotateX(90deg) translateZ(100px);;
    }
    .cube .top img{
        width: 200px;
        height: 200px;
    }
    .top::before{
        content: '';
        position: absolute;
        top: 10%;
        left: 0;
        width: 150px;
        height: 150px;
        background-color: rgb(255, 0, 170);
        transform: translateZ(-250px);
        filter: blur(20px);
        box-shadow: 0 0 120px rgba(255, 0, 170,0.2),
        0 0 200px rgba(255, 0, 170,0.4),
        0 0 300px rgba(255, 0, 170,0.6),
        0 0 400px rgba(255, 0, 170,0.8),
        0 0 500px rgba(255, 0, 170,1);
    }

    /* 上架填寫分頁1+分頁2 */
    // 背景
    // .background{
    //     padding-top: 5px;
    //     width: 100%;
    //     background-image: url('../../assets/image/all_bgimg.png');
    //     background-size: contain;
    //     /* background-repeat: no-repeat;*/
    //     background-position-x: center;
    //     background-position-y: bottom;
    // }
    .tab-content{
        position: relative;
        max-width: 1200px;
        // background-image: url('../../assets/image/all_bgimg.png');
    }
    .tab-content .tag:first-of-type{
        margin-right: 1.3%;
    }
    .tab-content .tag{
        cursor: pointer;
        width: 420px;
        height: 30px;
        box-sizing: border-box;
        padding: 5px 0px 5px 5px;
        background-color: #efefef;
        // box-shadow: 1px 0px  0px 0px #aaaaaa55,
        //             -1px 0px  0px 0px #aaaaaa55,
        //             0px -1px 0px 0px #aaaaaa55;
                    // border-right: 1px solid #55595e20;
                    // border-top: 1px solid #55595e20;
                    // border-left: 1px solid #ffffff30;
                    // backdrop-filter: blur(0.5em);
        border-radius: 5px 5px 0px 0px / 5px 5px 0px 0px;
        z-index: 1;
        position: relative;
        font-size: 20px;
        /* top: 2px; */
    }
    /*絕對定位tag小三角型:父層.tag */
    .tab-content .tag::after{
        content: '';
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0;
        left: 99.65%;
        border-bottom: 30px solid #efefef;
        border-right: 15px solid #0000;
    }
    /* 絕對定位tag小三角型斜線陰影:父層.tag */
    .tab-content .tag::before{
        content: '';
        width: 15px;
        height: 31px;
        /* border: 1px solid black; */
        position: absolute;
        top: -11.5%;
        left: 101.65%;
        transform: rotatez(-26.5deg);
        box-shadow: -1.2px 0px 1px 0px #aaaaaa33;
        z-index: 1;
    }
    .tab-content .content{
        order: 1; /*全部排下*/
        display: none;
        max-width: 1200px;
    }
    .tab-content input[type='radio']:checked + .tag + .content{
        display: block;
    }
    .tab-content input[type="radio"]:checked + .tag {
        color: #394897;
        // background-color: #3e444a05;
        background-color: #fff;
    }
    .tab-content input[type="radio"]:checked + .tag::after {
        content: '';
        // border-bottom: 30px solid #3e444a05;
        border-bottom: 30px solid #fff;
        border-right: 15px solid #fff;
    }
    .textBox{
        width: 35%;
    }
    .content{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 100px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 0px 5px 5px 5px / 0px 5px 5px 5px;
        // box-shadow: 1px 0px 5px 0px #aaaaaa55,
        // -1px 0px 5px 0px #aaaaaa55,
        // 0px 1px 5px 0px #aaaaaa55;
        // background-color: #FBF7F3cc;
        background-color: #3e444a05;
        // box-shadow: 0.1em 0.5em 0.5em #252b3020;
        // box-shadow: 0.1em 0.5em 0.5em #252b3020;
        // border: 1px solid #94969b50;
        border-right: 1px solid #55595e20;
        border-bottom: 1px solid #55595e20;
        border-left: 1px solid #ffffff30;
        backdrop-filter: blur(0.5em);
        // position: relative;
        // z-index: 55;
        // position: relative;
    }
    // .content::after{
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // content: '';
    // filter: blur(20px);
    // background: hsla(0,20%,100%,.3);
    // z-index: -1;
    // }

    // .textBox{
    //     width: 30%;
    //     height: 35px;
    //     padding-left: 15px;
    //     margin: 10px 0px 20px 0px;
    //     border-radius: 50px;
    //     border: 0px;
    //     outline: 0px;
    //     box-shadow: inset 1px 1px 1px 1px #ccc;
    // }

    .productIntro textarea{
        width: 97.5%;
        background-color: #3e444a05;
    }

/*kaws公仔*/
    .listingBgPic4{
        position: absolute;
        top: 3%;
        left: 65%;
        z-index: 1;
        animation: pic4 2s infinite alternate-reverse;
    }
    .listingBgPic4 img{
        display: block;
        width: 300px;
    }
    @keyframes pic4 {
        0%{
            top: 5%;
        }
        100%{
            top: 6%;
        }
    }

/*燈箱*/
.modal-container{
    margin: auto;
    // padding-top: 5%;
    box-sizing: border-box;
    // text-align: center;
    vertical-align: middle;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    // align-items: center;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 9999999;
}
.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}
.modal-container .modal{
    // justify-content: center;
    display: flex;
    background-color: #fff;
    // text-align: start;
    // justify-content: space-evenly;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    // z-index: 999;
}
.modal-container .modal .modalPic{
    margin-left: 5%;
    margin-right: 5%;
}
.modal-container .modal .modalPic img{
width: 450px;
height: 350px;
}
.modal-container .modal .modalProductInput{
    overflow-y: scroll;
    width: 100%;
    height: 95%;
}
.modal-container .modal .modalProductInput .modalValue{
    display: flex;
    margin: 10px 0px;
}
.modal-container .modal .modalProductInput .modalValue p{
    font-size:0.875em;
    line-height: 1.5;
	letter-spacing:2px;
    margin-left: 20px;
}
.modal-container .modal .modalProductInput .modalValueText p{
    font-size:0.875em;
    line-height: 1.5;
	letter-spacing:2px;
    margin: 10px 0px;
    word-wrap: break-word;
}

}
