
#loginArea{
    --heightlogin:30em;
    /* 登入註冊區的最外層section */
    width: 100%;
    box-sizing: border-box;
    padding: 5em 0em;
    // 背景圖
    background: #ffffff url(../image/all_bgimg.png) scroll no-repeat 50% 50% / 100% 100%;;
    #changeBtn{
        /* 隱藏切換顯示用input的checkbox */
        display: none;
    }
    >article{
        background-color: #3e444a05;
        box-shadow: 0.1em 0.5em 0.5em #252b3020;
        box-shadow: 0.1em 0.5em 0.5em #252b3020;
        border: 1px solid #94969b50;
        border-right: 1px solid #55595e20;
        border-bottom: 1px solid #55595e20;
        border-left: 1px solid #ffffff30;
        backdrop-filter: blur(0.5em);

        /* 登入註冊區操作區大小 */
        /* 定位內部2塊 登入註冊區 切換區 定位用 */
        display: flex;
        flex-wrap: wrap;
        min-height: 500px;
        margin: auto;
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px #aaaaaa55 inset;
        height: calc(var( --heightlogin) * 2) ;
        @media screen and (min-width:768px) {
            height: auto;
        }
        >article{

            /* 選取登入註冊輸入區、登入註冊切換區 */
            position: absolute;
            box-sizing: border-box;
            // padding: 3em 0em;
            border-radius: 10px;
            height:  var(--heightlogin);
            @media screen and (min-width:768px) {
                height: auto;
                top: 0;
                bottom: 0;
            }
            >form{
                
                input:not([type*="submit"]){
                    /* 登入註冊區輸入框 */
                    display: block;
                    margin: 0px 0px 20px 0px;
                    width: 80%;
                    @media screen and (min-width:768px) {
                        width: 60%;
                    }
                }
                // input:not([type*="submit"]):focus{
                    /* 登入註冊區輸入框 */
                    // outline: none;
                    // box-shadow: -2px -2px 3px 3px #ffffff inset,2px 2px 5px 1px #aaaaaaaa inset;
                // }
                input{
                    -webkit-appearance: none;
                }
                label{
                    // text-align: left;
                    width: 80%;
                    box-sizing: border-box;
                    line-height: 2em;
                    padding-left: 1em ;
                    @media screen and (min-width:768px) {
                        width: 60%;
                    }

                }

            }
            >form,>article{
                /* 選取登入區、註冊區和兩個切換區 */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }
            >form:last-of-type{
                // 註冊輸入框區
                width: 100%;
                // flex-direction: row;
                // >div{
                //     height: 100%;
                //     width: 200%;
                //     display: flex;
                //     flex-wrap: wrap;
                //     >div{
                //         height: 100%;
                //         width: 100%;
                //         display: flex;
                //         flex-direction: column;
                //         align-items: center;
                //         justify-content: center;
                //     }
                //     >div:first-of-type{
                        
                //     }
                // }
            }
        }
        >article:first-of-type{
            /* 選取登入註冊輸入區 */
            // transform-origin:left;
           
            width: 100%;
            // top: 0;
            bottom: var(--heightlogin);
            transition: bottom 1s ;
            @media screen and (min-width:768px) {
                right: calc( 100%/5 * 2);
                width: calc( 100%/5 * 3);
                transition: right 1s ;
                bottom: 0;
            }
        }
        >article:last-of-type{
            /* 選取登入註冊切換區 */
            width: 100%;
            box-shadow: 0px 0px 8px 1px #aaaaaa55 ;
            top: var( --heightlogin);
            transition: top 1s ;
            // background-color: #fde465 ;
            background-color: #3e444a05;
            // box-shadow: 0.1em 0.5em 0.5em #252b3020;
            // box-shadow: 0.1em 0.5em 0.5em #252b3020;
            // border: 1px solid #94969b50;
            // border-right: 1px solid #55595e20;
            // border-bottom: 1px solid #55595e20;
            // border-left: 1px solid #ffffff30;
            backdrop-filter: blur(0.5em);
            // .roundOutline{
            //     /* 橢圓形外框按鈕 */
            //     // Box-shadow: 0px 0px 5px 0px #00000055 ;
            //     transform: scale(1);
            // }
            // .roundOutline:hover,.squareOutline:hover{
            //     /* hover橢圓形外框按鈕 */
            //     transform: scale(0.95);
            //     transition: transform 0.5s ;
            // }


            @media screen and (min-width:768px) {
                top: 0;
                width: calc( 100%/5 * 2 );
                left: calc( 100%/5 * 3 );
                transition: left 1s;
            }
            // h3,p{
            //     /* 選取切換區的h3標題和p文字*/
            //     margin: 0px 0px 20px 0px;
            //     width: 85%;
            //     text-align: center;
            // }
            // p{
            //     /* 選取切換區的和p文字*/
            //     line-height: 2em;
            // }
            img{
                width: 50%;
                margin-bottom: 3em;
            }
        }
    }
    // >input[type*="checkbox"]:not(:checked) + article{
    &:not([class*="active"]) > article:first-of-type{
        
        >article:first-of-type>form:last-of-type{
            /* 登入註冊輸入區顯示切換(一開始顯示) */
            // visibility: hidden;
            // z-index: 1;
            // transition: z-index 0.5s 1s ;
            display: none;
        }
        >article:last-of-type>article:last-of-type{
            /* 登入註冊切換區顯示切換(一開始顯示)*/
            // visibility: hidden;
            display: none;
        }

    }
    // >input[type*="checkbox"]:checked + article{
    &[class*="active"]  > article:first-of-type{
        :first-of-type{
            /*選取切換區塊(input在checked時)*/
            bottom: 0;
            @media screen and (min-width:768px) {
                right:  0;
                bottom: 0;
            }
            
        }
        :last-of-type{
            /*選取輸入區塊(input在非checked時)*/
            top: 0;
            @media screen and (min-width:768px) {
                left:  0;
                top: 0;
            }
        }
        >article:first-of-type>form:first-of-type{
            /* 登入註冊輸入區顯示切換 */
            // visibility: hidden;
            // z-index: 1;
            display: none;
        }
        >article:last-of-type>article:first-of-type{
            /* 登入註冊切換區顯示切換 */
            // visibility: hidden;
            display: none;
        }
    }

}
