/* 麵包屑和商品分類導覽 */
.productHead{
    width: 100%;
    // border-bottom: 1px solid #8888;
}
// .productHead .productBread{
//     margin-bottom: 1%;
// }
// 主導覽列+input
.productHead .adjustBox{
    display: block;
}
// 主導覽列a樣式清除
.productHead .adjustBox a{
    text-decoration: none;
}
.productHead .adjustBox .sideNav ul{
    display: flex;
    align-items: center;
}
// 第一個li給定位
.sideNav ul li:first-child{
    position: relative;
}
// 主類別＋右分隔線
.productHead .adjustBox .sideNav ul li:first-child::after{
    content: '';
    // 定位在.sideNav ul li:first-child
    position: absolute;
    right: -10%;
    top: 0;
    bottom:0;
    margin: auto;
    width: 3px;
    height: 30%;
    background-color: #394897;
}
.productHead .adjustBox .sideNav ul li+li{
    margin-left: 6%;
}
.productHead .sideNav ul li a{
    color: #BCBCBC;
    white-space: nowrap;
}
// 次類別 hover色彩
.productHead .sideNav ul li a:hover{
    color: #394897;
}
@media screen and (min-width:992px){
    // 主導覽列+input
    .productHead .adjustBox{
        display: flex;
        align-items: center;
    }
    .productHead .adjustBox .sideNav{
        flex-grow: 1;
    }
}
/* 輸入盒子 */
.productHead .adjustBox .inputBox{
    // width: 40%;
    // display: flex;
    // justify-content: end;
    align-items: center;
} 
/* 輸入盒子共用樣式 */
.productHead .adjustBox .inputBox .inputItem{
    font-size: 1em;
    border-radius: 200px;
    box-sizing: border-box;
    padding: 0.5em 1em;
    border:1px solid #ccc;
    box-shadow: -1px -1px 2px 0px #ffffff inset,1px 1px 3px 0px #aaaaaaaa inset;
    line-height: 2em;
    background-color: transparent;
} 
/* 商品Item共用設計 */
.productMainSection .commomItem{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0% 0% 2%;
    box-sizing: border-box;
    // 透明卡片
    background-color: #3e444a05;
    box-shadow: 0.3em 0.3em 0.3em #252b3010;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff10;
    backdrop-filter: blur(0.5em);
    border-radius: 0.5em;
}
/* 商品Item文字共用設計 */
.productMainSection .commomItem .text,
.productMainSection .commomItem .footer,
.productMainSection .commomItem .productButton{
    padding: 0% 2%;
}
//定位在圖片
.productMainSection .commomItem .img{
    position: relative;
}
// 圖片左上右上原角
.productMainSection .commomItem .img img{
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}
// 收藏按鈕
.productMainSection .commomItem .like{
    // 定位在.prouductItem .commomItem .img
    position: absolute;
    top: 2%;
    right:2%;
    display: flex;
    border-radius:600px;
    opacity: 50%;
    padding: 8px 15px;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
}
// 愛心
.productMainSection .commomItem .like .pic{
    width: 20px;
}
.productMainSection .commomItem .like .pic img{
    width: 100%;
    vertical-align: bottom;
    transition: .3s;
}
// 愛心換顏色
.productMainSection .commomItem .like .pic img:hover{
    content: url(../image/articlePage_shareBar_likeHover.png);
    transform: scale(1.02);
    vertical-align: bottom;
}
.productMainSection .commomItem .like span{
    margin: 0 5px;
}
.productMainSection .commomItem .img img{
    width: 100%;
}
// 創作者名字
.productMainSection .commomItem .text{
    flex-grow: 1;
}
// 價格和日期
.productMainSection .commomItem .footer{
    display: flex;
    justify-content: space-between;
    margin: 6% 0 3%;
}
.productMainSection .commomItem .footer{
    display: flex;
    justify-content: space-between;
    margin: 6% 0 3%;
}
/* 商品輪播 */
.productMainCarousel{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10%;
    background-color: #FBF7F3;
    padding:0 0 3% ;
    box-sizing: border-box;
}
.productMainCarousel h3{
    width: 90%;
    max-width: 1200px;
    margin: 3% auto;
}
.productMainCarousel .carouselBox{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding-bottom: 1em;
}
.productMainCarousel .carouselBox .prouductItem{
    width:66%;
    flex-shrink: 0;
}
@media screen and (min-width:992px){
    .productMainCarousel .carouselBox .prouductItem{
        width:26%;
        flex-shrink: 0;
    }
}
.productMainCarousel .carouselBox .prouductItem{
    margin-right: 8%;
}
@media screen and (min-width:992px){
    .productMainCarousel .carouselBox .prouductItem{
        margin-right: 4%;
    }
}
/* 圖片上的連結按鈕 */
.productMainCarousel .linkItem{
    position: absolute;
    z-index: 1;
}
.productMainCarousel .arrowButton{
    display: flex;
    top: 50%; 
    transform: translateY(-50%);
}
.productMainCarousel .right{
    right: -5.5%;
}
.productMainCarousel .arrowButton .leftArrow,
.productMainCarousel .arrowButton .rightArrow{
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 36, 36);
}
.productMainCarousel .changeButton{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 50%;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}
.productMainCarousel .changeButton .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 3%;
}
.productMainCarousel .changeButton .circle:last-child{
    margin-right: 0;
}
/* 商品區塊 */
.productiMainProduct{
    width: 100%;
    margin-bottom: 5%;
}
.productiMainProduct .productSection{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.productiMainProduct .titleBox{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.productiMainProduct .productSection .prouductItem{
    margin-bottom: 3em;
}
/* 篩選器項目 */
.productiMainProduct .productSelector{
    width: 90%;
    margin: auto;
    background-color: #FFD60A;
}
/* 商品欄 */
.productiMainProduct .productSection{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.productiMainProduct article{
    width: 48%;
    box-sizing: border-box;
    margin-bottom: 1%;
}
@media screen and (min-width:992px){
    .productiMainProduct article{
        width: 24%;
    }
}
.productButton{
    display: flex;
    // justify-content: end;
    // margin-top: 5%;
}
// /* 舊的換頁 */
// .productPageChange{
//     width: 100%;
// }
// .productPageChange .pageBox{
//     margin: auto;
//     width: 90%;
// }
// .productPageChange .pageBox .itemBox{
//     margin: auto;
//     display: flex;
//     justify-content: center;
// }
/* 新的換頁 */
.productPageChange{
    margin: 5% auto 7% auto;
}
.productPageChange ul{
    display: flex;
    justify-content: center;
}
.productPageChange ul li{
    margin:0 1%;
}
.productPageChange ul li a{
    color: #BCBCBC;
    text-decoration: none;
}
.productPageChange ul li a:hover{
    color: #394897;
}