// 所有a設定
a{
    text-decoration: none;
}
/* 麵包屑 */
.SingleProductHead{
    display: none;
}
.SingleProductHead .productBread{
    margin: auto;
    width: 90%;
    margin-bottom: 1%;
}
.SingleProductHead .productBread a{
    font-size: 0.5em;
}
/* 商品介紹 */
.SingleProductIntro{
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
}
.SingleProductIntro .sizeAdjustBox{
    width: 90%;
    margin: auto;
}
@media screen and (min-width:992px){
    /* 麵包屑 */
    .SingleProductHead{
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 60px;
    }
    .SingleProductHead ul{
        display: flex;
    }
    .SingleProductIntro .sizeAdjustBox{
        box-sizing: border-box;
        padding-bottom: 1.5%;
        display: flex;
        flex-wrap: nowrap;
        border-bottom:1px  solid #8888;
    }
}
.SingleProductIntro .imgBox{
    overflow: hidden;
    position: relative;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
@media screen and (min-width:992px){
    .SingleProductIntro .imgBox{
        width: 50%;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 2% 0 0;
        margin-bottom: 0;
    }
}
.SingleProductIntro .imgBox img{
    width: 100%;
    vertical-align: top;
    cursor: pointer;
}
.SingleProductIntro .imgBox>img{
    flex-shrink: 0;
}
@media screen and (min-width:992px){
    .SingleProductIntro .imgBox img:first-child{
        margin-bottom: 3%;
    }
    .SingleProductIntro .imgBox img:not(:first-child){
        width: 30%;
    }
}
/* 圖片上的連結按鈕 */
.SingleProductIntro .imgBox .linkItem{
    position: absolute;
}
.SingleProductIntro .imgBox .arrowButton{
    display: flex;
    top: 50%; 
    transform: translateY(-50%);
}
.SingleProductIntro .imgBox .right{
    right: 0%;
}
.SingleProductIntro .imgBox .arrowButton .leftArrow,
.SingleProductIntro .imgBox .arrowButton .rightArrow{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 36, 36);
}
.SingleProductIntro .imgBox .changeButton{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 50%;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}
.SingleProductIntro .imgBox .changeButton .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 3%;
}
.SingleProductIntro .imgBox .changeButton .circle:last-child{
    margin-right: 0;
}
@media screen and (min-width:992px){
    .SingleProductIntro .imgBox .linkItem{
        display: none;
    }
}
/* 商品介紹文字區 */
.SingleProductIntro{
    width: 100%;
}
@media screen and (min-width:992px){
    .SingleProductIntro .introAll{
        width: 50%;
    }
}
.SingleProductIntro .introBox{
    box-sizing: border-box;
    padding: 0 0 0 2%;
    border-left: 1px solid #888;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    position: relative;
}
@media screen and (min-width:992px){
    .SingleProductIntro .introBox{
        border-left: none;
        padding: 0 0 0 0;
    }
}
@media screen and (min-width:992px){
    .SingleProductIntro .introAll{
        box-sizing: border-box;
        padding: 0 0 0 3%;
        border-left: 1px solid #8888;
    }
}
.SingleProductIntro .introBox .introtext{
    margin-bottom: 10%;
}
.SingleProductIntro .introBox .time{
    vertical-align: middle;
    display: flex;
    align-items: center;
}
// 剩餘時間
.SingleProductIntro .introBox .time{
    // 手機直向排列
    display: block;
    margin-bottom: 5%;
}
// 第二個p上面空間
.SingleProductIntro .introBox .time p+p{
    display: block;
    margin-top:1% ;
}
@media screen and (min-width:992px){
    .SingleProductIntro .introBox .time{
        display: flex;
    }
    .SingleProductIntro .introBox .time p{
        margin-top: auto;
        margin-right: 2%;
    }
}
// bidBox除了第一個設margin-top
.SingleProductIntro .bidBox+.bidBox{
    margin-top: 2%;
}
// 目前出價
.SingleProductIntro .bidBox{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.SingleProductIntro .bidBox.bid div{
    display: flex;
    white-space: nowrap;
}
.SingleProductIntro .bidBox.bid div a{
    text-decoration: none;
}
.SingleProductIntro .bidBox.bid div a:hover{
    transform: scale(1.02);
}
.SingleProductIntro .bidBox.bid div a span:nth-child(2){
    border-bottom: 1px solid #8888;
}
// 直購價
.SingleProductIntro .bidBox.buy div{
    display: flex;
    white-space: nowrap;
}
// 價格輸入框
.SingleProductIntro .bidBox.inputBox{
    margin-top: 5%;
}
.SingleProductIntro .bidBox.inputBox input{
    width: 100%;
}
@media screen and (min-width:992px){
    .SingleProductIntro .bidBox.inputBox input{
        width: 80%;
    }
}
// 提示
.SingleProductIntro .bidBox.hint span{
    white-space: nowrap;
}
// 收藏按鈕
.SingleProductIntro .introBox .like{
    // 定位在.prouductItem .commomItem .img
    position: absolute;
    top: 2%;
    right:2%;
    display: flex;
    border-radius:600px;
    opacity: 80%;
    padding: 8px 15px;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    // 透明物件
    box-shadow: 0.1em 0.5em 0.5em #252b3020;
    background-color: #3e444a10;
    border: 1px solid #94969b50;
    border-right: 1px solid #55595e20;
    border-bottom: 1px solid #55595e20;
    border-left: 1px solid #ffffff30;
    backdrop-filter: blur(0.5em);
}
// 愛心
.SingleProductIntro .introBox .like .pic{
    width: 20px;
}
.SingleProductIntro .introBox .like .pic img{
    width: 100%;
    vertical-align: bottom;
    transition: .3s;
}
// 愛心換顏色
.SingleProductIntro .introBox .like .pic img:hover{
    content: url(../image/all_like_hover.png);
    transform: scale(1.02);
    vertical-align: bottom;
}
.SingleProductIntro .introBox .like span{
    margin: 0 5px;
}
.SingleProductIntro .introBox .img img{
    width: 100%;
}
// // 收藏按鈕
// .SingleProductIntro .introBox .like{
//     // 定位在.SingleProductIntro .introBox
//     position: absolute;
//     top: 5%;
//     right:2%;
//     display: flex;
//     border-radius:600px;
//     opacity: 50%;
//     box-sizing: border-box;
//     padding: 8px 15px;
//     align-items: center;
//     cursor: pointer;
// }
// // 愛心
// .SingleProductIntro .introBox .like .pic{
//     width: 20px;
// }
// .SingleProductIntro .introBox .like .pic img{
//     width: 100%;
//     vertical-align: bottom;
//     transition: .3s;
// }
// // 愛心換顏色
// .SingleProductIntro .introBox .like .pic img:hover{
//     content: url(../image/articlePage_shareBar_likeHover.png);
//     transform: scale(1.02);
//     vertical-align: bottom;
// }
// .SingleProductIntro .introBox .like span{
//     margin: 0 5px;
// }
/* 商品介紹按鈕 */
.SingleProductIntro .introButton{
    display: flex;
    justify-content: center;
}
.SingleProductIntro .introButton .introButtonItem:first-child{
    margin-right: 3%;
}

/* 更多商品 */
.SingleProductMoreP{
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
}
.SingleProductMoreP h3{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3%;
}
.SingleProductMoreP .productBox{
    width: 90%;
    margin: auto;
    display: flex;
    overflow: hidden;
}
@media screen and (min-width:992px){
    .SingleProductMoreP .productBox{
        justify-content: space-between;
    }
}
.SingleProductMoreP .productBox .img{
    width: 30%;
    margin-right: 3.333333%;
    flex-shrink: 0;
}
@media screen and (min-width:992px){
    .SingleProductMoreP .productBox .img{
        width: 18%;
        margin-right: 0%;
    }
}
.SingleProductMoreP .productBox .img img{
    vertical-align: middle;
    width: 100%;
}