.displayNone{
    display: none;
}
/* 麵包屑和商品分類導覽 */
.productHead{
    width: 100%;
    margin-bottom: 10%;
}
.productHead .productBread{
    margin: auto;
    width: 90%;
    margin-bottom: 1%;
}
.productHead .adjustBox{
    margin: auto;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.productHead .sideNav{
    width: 60%;
    display: flex;
    align-items: baseline;
}
.productHead .sideNav a{
    text-decoration: none;
    color: #141414;
}
.productHead .sideNav .sideNavTitle{
    width: 25%;
    margin-right: 3%;
}
.productHead .sideNav ul{
    width: 60%;
    display: flex;
}
.productHead .sideNav ul li{
    width: 25%;
}
/* 輸入盒子 */
.productHead .adjustBox .inputBox{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
} 
/* 商品Item共用設計 */
.productMainSection .commomItem{
    position: relative;
    display: flex;
    flex-direction: column;
}
.productMainSection .commomItem .like{
    position: absolute;
    top: 2%;
    left: 2%;
    border-radius:800px;
    width: 25%;
    box-sizing: border-box;
    padding: 3% 0%;
    text-align: center;
    opacity: 50%;
    font-size: 0.5em;
}
.productMainSection .commomItem .img img{
    width: 100%;
}
.productMainSection .commomItem .text{
    flex-grow: 1;
}
.productMainSection .commomItem .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
/* 商品輪播 */
.productMainCarousel{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10%;
}
.productMainCarousel h3{
    width: 90%;
    margin: auto;
    margin-bottom: 3%;
}
.productMainCarousel .carouselBox{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.productMainCarousel .carouselBox .prouductItem{
    width:66%;
    flex-shrink: 0;
}
@media screen and (min-width:992px){
    .productMainCarousel .carouselBox .prouductItem{
        width:26%;
        flex-shrink: 0;
    }
}
.productMainCarousel .carouselBox .prouductItem{
    margin-right: 8%;
}
@media screen and (min-width:992px){
    .productMainCarousel .carouselBox .prouductItem{
        margin-right: 4%;
    }
}
/* 圖片上的連結按鈕 */
.productMainCarousel .linkItem{
    position: absolute;
    z-index: 1;
}
.productMainCarousel .arrowButton{
    display: flex;
    top: 50%; 
    transform: translateY(-50%);
}
.productMainCarousel .right{
    right: -5.5%;
}
.productMainCarousel .arrowButton .leftArrow,
.productMainCarousel .arrowButton .rightArrow{
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 36, 36);
}
.productMainCarousel .changeButton{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 50%;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}
.productMainCarousel .changeButton .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 3%;
}
.productMainCarousel .changeButton .circle:last-child{
    margin-right: 0;
}
/* 商品區塊 */
.productiMainProduct{
    width: 100%;
    margin-bottom: 5%;
}
.productiMainProduct .productSection{
    width: 90%;
    margin: auto;
}
.productiMainProduct .titleBox{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
/* 篩選器項目 */
.productiMainProduct .productSelector{
    width: 90%;
    margin: auto;
    background-color: #FFD60A;
}
/* 商品欄 */
.productiMainProduct .productSection{
    width: 90%;
    margin: auto;
    background-color: #FFD60A;
    display: flex;
    flex-wrap: wrap;
}
.productiMainProduct article{
    width: 50%;
    box-sizing: border-box;
    padding: 1%;
}
@media screen and (min-width:992px){
    .productiMainProduct article{
        width: 25%;
        box-sizing: border-box;
        padding: 1%;
    }
}
/* 換頁 */
.productPageChange{
    width: 100%;
}
.productPageChange .pageBox{
    margin: auto;
    width: 90%;
}
.productPageChange .pageBox .itemBox{
    margin: auto;
    display: flex;
    justify-content: center;
}