$uiColor:(
	"main":#FFFFFF,
	"strongBtn":#FFD60A,
	"strongTxt":#394897,
    "deepTxt":#141414,
    "lightTxt":#BCBCBC,
    "error":#EF5C5C,
    "correct":#7AC74F,
    "background":#FBF7F3,
);
.supportChatroom:not([class*="active"]){
    /* 客服聯天室在首頁button */
    /* 圓 */
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 4em;
    // background-color: #fff;
    background-color:transparent;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    article,button{
        display: none;
    }
    >span{
        display: block;
        font-size: 4em;
    }
}
// .supportChatroomAA::after{
//     // 客服聯天室在首頁button的標語
//     content: '需要幫助嗎？';
//     font-size: 1em;
//     position: absolute;
//     top: -1.5em;
//     white-space: nowrap;
// }
.supportChatroom.active{
    /* 客服聯天室區 */
    border-radius: 5px;
    position: fixed;
    right: 0;
    bottom: 2em;
    left: 0;
    // top: 0;
    margin: auto;
    padding: 20px;
    width: 90%;
    max-height: 90%;
    // height: 90%;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 0px #aaaaaa ;
    >span{
        display: none;
    }
    .chatroom{
        display: none;
    }
    // .selectRoom.active{
    //     display: none;
    // }
    // .selectRoom.active ~ .chatroom,.selectRoom{
    //     >.titleCell{
    //         display: flex;
    //         justify-content: center;
    //         align-content: center;
    //         align-items: center;
    //         >h3{
    //             flex-grow: 1;
    //             // margin-left: 1em;
    //         }
    //         >span{
    //             cursor: pointer;
    //         }
    //     }
        
    // }
    .selectRoom{
        
        >.titleCell{
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
        }
      
        .selectBtn{
            width: 100%;
            font-size: 0px;
            div{
                display: inline-block;
                text-align: center;
                width: 50%;
                font-size: 16px;
                box-sizing: border-box;
                padding: 2em 1em; 
                cursor: pointer;
                // justify-content: space-around;
                img{
                    vertical-align: top;
                    // width: 50%;
                    width: 20%;
                    box-sizing: border-box;
                    
                }
            }
           
        }
    }
    // .selectRoom.active ~ .chatroom{
    //     // display: block;
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;
        
    //     .titleCell{
    //         // display: flex;
    //         // justify-content: center;
    //         // align-content: center;
    //         // align-items: center;
    //         >h3{
    //         //     flex-grow: 1;
    //             margin-left: 1em;
    //         }
    //         >h3::after{
    //             /* 客服聯天室標語 */
    //             content: '您好，有甚麼需要幫忙的嗎？';
    //             font-size: 16px;
    //             margin-left: 2em;
    //             white-space:nowrap;
    //         }
            
    //     }
    //     .txtArea{
    //         margin: 1em 0em;
    //         flex-grow: 1;
    //         padding: 0em 1em;
    //         // overflow: scroll;
    //         overflow-y: scroll;

    //         >article{
    //             margin: 3em 0em;
    //             width: 100%;
    //             display: flex;
    //             p{
    //                 // background-color: #aaa;
    //                 color: map-get( $uiColor , "main" );
    //                 background-color: map-get($uiColor, "strongTxt" );
    //                 border-radius: 20px;
    //                 box-sizing: border-box;
    //                 padding: 1em 1em;
    //                 max-width: 70%;
    //             }
    //         }
    //         >.meTxt{
    //             flex-direction: row-reverse;
    //         }
    //     }
    //     .keyButton{
    //         /* 機器人客服聯天室選項 */
    //         box-sizing: border-box;
    //         // border-radius: 10px;
    //         white-space:nowrap;
    //         padding: 0.2em;
    //         // overflow-x: scroll;
    //         // height: 5.8em;

    //        >button{
    //             /* 機器人客服聯天室選項button */
    //             font-size: 1em;
    //             box-sizing: border-box;
    //             color: map-get( $uiColor , "main" );
    //             background-color: map-get($uiColor, "strongTxt" );
    //             padding: 0.3em 1em ;
    //             border-radius: 200px;
    //             border: none;
    //             margin: 0em 0.3em;
    //             cursor: pointer;
    //         }
    //     }
    //     >.inputArea{
    //          /* 真人客服聯天室輸入區 */
    //         display: flex;
    //         box-sizing: border-box;
    //         padding: 1em 0em;
    //         >textarea{
    //             /* 客服聯天室輸入區輸入框 */
    //             resize: none;
    //             outline: none;
    //             border: none;
    //             box-sizing: border-box;
    //             line-height: 1.5em;
    //             // width: 100%;
    //             font-size: 1em;
    //             border-radius: 10px;
    //             border:none;
    //             box-shadow: -1px -1px 3px 2px #ffffff inset,1px 1px 3px 0px #aaaaaaaa inset;
    //             margin: 0px 0px 20px 0px;
    //             background-color: transparent;
    //             box-sizing: border-box;
    //             padding: 0.5em 1em;
    //             // padding: 0.5em 3em 1em 2em;
    //             flex-grow: 1;
    //             height: 100%;
    //        }
    //        >textarea:focus{
    //         outline: none;
    //         box-shadow: -2px -2px 3px 3px #ffffff inset,2px 2px 5px 1px #aaaaaaaa inset;
    //         }
    //         >span{
    //             padding: 0.2em;
    //             cursor: pointer;
    //         }
    //     }
    // }
    @media screen and (min-width:768px) {
        right: 1em;
        bottom: 1em;
        left: auto;
        // top: auto;
        // max-height: 90vh;
        margin: auto;
        padding: 20px;
        min-width: 40%;
        max-width: 600px;
        height: auto;
    }
}
.selectRoomActive.active{
    top: 0;
    >.selectRoom{
        display: none;
    }
    >.chatroom , >.selectRoom{
        >.titleCell{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            >h3{
                flex-grow: 1;
                // margin-left: 1em;
            }
            >span{
                cursor: pointer;
            }
        }
        
    }
    >.chatroom{
        height: 100%;
        display: flex;
        flex-direction: column;
        
        .titleCell{
            >h3{
                margin-left: 1em;
            }
            @media screen and (min-width:768px) {
                >h3::after{
                    /* 客服聯天室標語 */
                    content: '您好，有甚麼需要幫忙的嗎？';
                    font-size: 16px;
                    margin-left: 2em;
                    white-space:nowrap;
                }
                
            }
            
        }
        // .txtArea::-webkit-scrollbar {
        //     width: 10px;
        // }
        .txtArea{
            /*對話紀錄區*/
            margin: 1em 0em;
            flex-grow: 1;
            padding: 0em 1em;
            overflow-y: scroll;
            -webkit-appearance: none;


            //這定義了卷軸的寬度，有兩個值auto 和 thin。不好的地方就是，我們不能像webkit的語法那樣定義一個具體的數位。
            scrollbar-width: thin;
            //可以為卷軸 track和thumb定義成對值的顏色
            scrollbar-color: #6969dd #e0e0e0;
            scrollbar-width: thin;

            //儘管這個新語法很簡單，但它是有限制的。我們只能新增顏色。我們不能新增shadows`、gradients、rounded，或任何類似的東西，我們被允許客製化的只是顏色。

            //https://tw511.com/a/01/36932.html 

        &::-webkit-scrollbar {
            /*卷軸的寬度*/
            // 首先，我們需要定義卷軸的大小。這可以是垂直卷軸的寬度，也可以是水平卷軸的高度。
            width: 5px;
            background-color: transparent;
            
        }
        &::-webkit-scrollbar-track {
            // 卷軸 track
            //這代表了卷軸的基礎。我們可以通過新增background、shadows、border-radius和border來對它進行造型。
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            //卷軸 thumb
            //準備好了卷軸的基礎後，我們就需要對卷軸的thumb進行樣式設計。這很重要，因為使用者可能會拖動這個thumb與卷軸進行互動。
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
            >article{
                /*單個對話紀錄框*/
                margin: 3em 0em;
                width: 100%;
                display: flex;
                p{
                    /*對話紀錄內文*/
                    color: map-get( $uiColor , "main" );
                    background-color: map-get($uiColor, "strongTxt" );
                    border-radius: 20px;
                    box-sizing: border-box;
                    padding: 1em 1em;
                    max-width: 70%;
                }
            }
            >.meTxt{
                flex-direction: row-reverse;
            }
        }
        .keyButton{
            /* 機器人客服聯天室選項 */
            box-sizing: border-box;
            white-space:nowrap;
            padding: 0.2em;

           >button{
                /* 機器人客服聯天室選項button */
                font-size: 1em;
                box-sizing: border-box;
                color: map-get( $uiColor , "main" );
                background-color: map-get($uiColor, "strongTxt" );
                padding: 0.3em 1em ;
                border-radius: 200px;
                border: none;
                margin: 0em 0.3em;
                cursor: pointer;
            }
        }
        >.inputArea{
             /* 真人客服聯天室輸入區 */
            display: flex;
            box-sizing: border-box;
            padding: 1em 0em;
            >textarea{
                /* 客服聯天室輸入區輸入框 */
                resize: none;
                outline: none;
                border: none;
                box-sizing: border-box;
                line-height: 1.5em;
                font-size: 1em;
                border-radius: 10px;
                border:none;
                box-shadow: -1px -1px 3px 2px #ffffff inset,1px 1px 3px 0px #aaaaaaaa inset;
                margin: 0px 0px 20px 0px;
                background-color: transparent;
                box-sizing: border-box;
                padding: 0.5em 1em;
                flex-grow: 1;
                height: 100%;
           }
           >textarea:focus{
            outline: none;
            box-shadow: -2px -2px 3px 3px #ffffff inset,2px 2px 5px 1px #aaaaaaaa inset;
            }
            >span{
                padding: 0.2em;
                cursor: pointer;
            }
        }
    }
    
}
.round {
    /* 橢圓形實心按鈕 */
    font-size: 16px;
    background-color: #FFD60A;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 200px;
    border: none;
}

.round:hover, .square:hover {
    /* 實心按鈕hover */
    color: #FFFFFF;
    background-color: #141414;
}