/*
.bouncingBox main{
    margin-top: 1em;
    padding-left: 1em;
    line-height: 2;
    border-left: 3px solid #999;
    color: #999;
}

/* input 
.bouncingBox main .changeValue{
    border: none;
    border-radius: 4px;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: inherit;
}

/* 問號 
.bouncingBox main p .fa-question{
    font-size: 1px;
    padding: 4px;
    border: 1px solid #999;
    border-radius: 50%;
}

*/

.accountManagement_bouncing main{
    margin-top: 1em;
    padding-left: 1em;
    line-height: 2;
    border-left: 3px solid #999;
    color: #999;
}

/* input */
.accountManagement_bouncing main .changeValue{
    border: none;
    border-radius: 4px;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: inherit;
}

/* 問號 */
.accountManagement_bouncing main p .fa-question{
    font-size: 1px;
    padding: 4px;
    border: 1px solid #999;
    border-radius: 50%;
}
