h1{
    font-size: 0.9em;
}
p,img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* 主要banner */
.mainBanner{
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    background-color: #FBF7F3;
}
/* 標題 */
.mainBanner .titleBox{
    width: 20%;
    height: 100%;
    display: flex;
}
.mainBanner .logo{
    width: 30%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.mainBanner .logo img{
    max-width: 100%;
    max-height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainBanner .titleBox .title{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* 登入成員 */
.mainBanner .adminBox{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.mainBanner .adminBox .memPhoto{
    width: 20%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.mainBanner .adminBox .memPhoto img{
    max-width: 100%;
    max-height: 90%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainBanner .adminBox .name{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.6em;
}
/* 主要內容盒子 */
.mainContainer{
    width: 100%;
    position: relative;
    display: flex;
    height: 93vh;
}
.mainNav{
    width: 18%;
    background-color: #363636;
    font-size: 20px;
    color:black;
}
.mainNav ul{
    width: 100%;
    margin-top: 10%;
}
.mainNav ul li{
    width: 100%;
    border-bottom: 1px solid white;
    text-align: center;
    box-sizing: border-box;
    padding: 5%;
}
/* 主要內容 */
.mainContent{
    width: 82%;
   overflow: scroll;
   background-color: rgb(122, 173, 190); 
}