<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>藝論紛紛</title>
    <!-- 頁籤icon -->
    <link rel="icon" href="assets/icon/a_icon.ico" type="art together icon">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 引入vue -->
    <script src="js/vue/vue.js"></script>
    <script src="js/articlePage.js"></script>
    <!-- 跳窗套件 -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- 登入  -->
    <script src="js/loginCheck.js"></script>
    <script >
        window.addEventListener('load',function(){
            loginCheck(false);
        })
    </script>
    <!-- 登入ＥＮＤ  -->
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- @@include('layout/header.html') -->
    @@include('layout/headerNormal.html',{"headerClass":""})
    <section class="articlePageContent">
        <!-- Vue作用域開始 -->
        <div id="articlePage">
            <section class="articlePageWrap">
                <div class="pageContent">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="homePage.html" class="lightColor">首頁</a></li>
                            <li ><a href="articleAll.html" class="lightColor">>藝論</a></li>
                            <li><a href="articlePage.html" class="epBColor">>這篇文章</a></li>
                        </ul>
                    </div>
                    <div class="authorShortIntro" v-for="discusArt in discusArtAll">
                        <div class="item">
                            <div class="pic"  :style=discusArt.virBgNo>
                                <img :src="headSrc+discusArt.picture">
                            </div>
                            <div class="txt">
                                <h4 class="deepColor">{{discusArt.memName}}</h4>
                                <p class="lightColor small">{{discusArt.postTime}}</p>
                            </div>
                        </div>
                        <div class="report">
                            <div class="pic" @click="report">
                                <img src="assets/image/articlePage_authorShortIntro_exclamation.png">
                            </div>
                            <span class="small">檢舉</span>
                        </div>
                    </div>
                    <article class="page" v-for="discusArt in discusArtAll">
                        <h2 class="deepColor">{{discusArt.title}}</h2>
                        <div class="item picTxtitem">
                            <div class="pic">
                                <img :src="src+discusArt.pic">
                            </div>
                            <div class="txt">
                                <p class="deepColor">{{discusArt.content}}</p>
                            </div>
                        </div>
                        <div class="shareBar">
                            <div class="shareComment">
                                <div class="like mainColor deepColor">
                                    <div class="pic" @click="toggleLikes">
                                        <img src="assets/image/all_like.png" alt="">
                                    </div>
                                    <span class="small">
                                        {{discusArt.articleLikes}}
                                    </span>
                                </div>
                                <div class="pic commentPic" @click="memNameRender">
                                    <img src="assets/image/articlePage_shareBar_comment.png">
                                </div>
                            </div>
                            <div class="socialMedia">
                                <div class="pic">
                                    <a href="">
                                        <img src="assets/image/home_footer_facebook.png">
                                    </a>
                                </div>
                                <div class="pic">
                                    <a href="">
                                        <img src="assets/image/home_footer_instagram.png">
                                    </a>
                                </div>
                                <div class="pic">
                                    <a href="">
                                        <img src="assets/image/home_footer_twitter.png">
                                    </a>
                                </div>
                                <div class="pic">
                                    <a href="">
                                        <img src="assets/image/home_footer_line.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <section class="relative">
                        <h2>最新文章</h2>
                        <div class="item" v-for="latestArticle in latestArticles">
                            <div class="pic">
                                <img :src='src+latestArticle.pic'>
                            </div>
                            <div class="txt">
                                <h4>{{latestArticle.title}}</h4>
                                <p class="deepColor small">{{latestArticle.content | ellipsis}}</p>
                            </div>
                        </div>
                    </section>
                </div>           
                <aside class="sideInfo">
                    <div class="authorIntro"  v-for="discusArt in discusArtAll">
                        <div class="pic" :style=discusArt.virBgNo>
                            <img :src="headSrc+discusArt.picture">
                        </div>
                        <div class="txt">
                            <h4>{{discusArt.memName}}</h4>
                        </div>
                    </div>
                    <div class="relativeSide">
                        <h4>我的文章</h4>
                        <div class="item" v-for="MyArticle in MyArticles">
                            <a href="">
                            <div class="pic">
                                <img :src="src+MyArticle.pic">
                            </div>
                            <div class="txt">
                                <p class="lightColor  small">{{MyArticle.content | ellipsis}}</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </aside>
                <!-- 要隱藏留言區用的 -->
                <section class="hiddenArea">
                    <section class="commentArea">
                        <span class="commentClose">
                            <i class="fas fa-times"></i>
                        </span>
                        <h4>回應(<span>{{ArticleComments.length}}</span>)</h4>
                        <div class="commentInput">
                            <div class="memberIcon">
                                <div class="pic" v-if="memData" :style=memData.virBgNo>
                                    <img v-if="memData" :src="headSrc+memData.charObjPic">
                                </div>
                                <div class="txt">
                                    <p class="deepColor" v-if="memData">{{memData.memName}}</p>
                                </div>
                            </div>
                            <div class="txtArea">
                                <form>
                                    <textarea  v-model="MyComment" id="">{{MyComment}}</textarea>
                                    <div class="item">
                                        <input class="round" type="button" value="評論" @click="insertMyComment">
                                        <input class="roundOutline" type="button" @click="MyComment = ''" value="取消">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="commentElse">
                            <div class="item" v-for="ArticleComment in ArticleComments">
                                <div class="memberIcon">
                                    <div class="pic" :style=ArticleComment.virBgNo>
                                        <img :src="headSrc+ArticleComment.picture">
                                    </div>
                                    <div class="txt">
                                        <p class="deepColor small">{{ArticleComment.memName}}</p>
                                        <p class="lightColor small">{{ArticleComment.messageTime}}</p>
                                    </div>
                                </div>
                                <div class="reply">
                                    <p class="deepColor small">{{ArticleComment.content}}</p>
                                </div>
                            </div>
                        </div>
                    </section>  
                </section>                
            </section>
        </div>
        <!-- Vue作用域結束 -->
    </section>
    @@include('layout/footer.html')

    <script>
        new Vue({
            el:"#articlePage",
            data:{
                discusArtAll:[],
                MyArticles:[],
                latestArticles:[],
                ArticleComments:[],
                src:'assets/image/',
                // 同步留言內容
                MyComment:'',
                click:false,

                // 抓到會員編號
                memData:'',
                // 會員圖片路徑
                headSrc:'assets/image/customCharacter/',
            },
            //新增監聽器
            filters: {
                ellipsis(value) {
                    const len = 30;
                    if (!value) return "";
                    if (value.length > len) {
                        return value.slice(0, len) + "...";
                    }
                    return value;
                }
            },

            methods: {
                memNameRender(){
                    // 抓到會員登入的資料，寫入vue data
                    this.memData = memData;
                    switch (this.memData.virBgNo) {
                        case 0:
                            this.memData.virBgNo = 'background-color:#FFD60A';
                            break;
                        case 1:
                            this.memData.virBgNo = 'background-color:#394897';
                            break;
                        case 2:
                            this.memData.virBgNo = 'background-color:#BCBCBC';
                            break;
                    }
                },
                
                // 檢舉
                report(){
                    // alert('');
                    if(memData){
                        swal({
                            title: "您是否要檢舉？",
                            icon: 'assets/image/articlePage_authorShortIntro_exclamation.png',
                            buttons: {
                                // 取消按鈕
                                Cancel: {
                                    text: "取消",
                                    value: null,
                                    // 新增class
                                    className:'cancel',
                                },
                                // 檢舉按鈕
                                report: {
                                    text: "檢舉",
                                    value: '檢舉',
                                    // 新增class
                                    className:'report',
                                },  
                            }
                            // 如果按鈕值是report，則會有下一個跳窗
                        }).then((value)=>{
                            let thisVue = this;// 避免抓到ajax的this                     
                            if(value == '檢舉'){  
                                $.ajax({
                                    type: 'POST',
                                    url: 'php/articlePageReportSend.php',
                                    data: {
                                        Report:value,
                                        ArticleNo:JSON.stringify(`${thisVue.discusArtAll[0].articleNo}`),
                                    },
                                    success: function(data) {
                                        console.log(data);
                                        console.log("成功了嗎?");
                                    },
                                    error: function() {
                                        console.log('ajax error');
                                    }
                                });
                                swal({
                                    text: "感謝您的檢舉，平台會審核內容。",
                                    buttons:{
                                        goBack: {
                                            text: "返回",
                                            className:'goBack',
                                        }
                                    },
                                    // 跳回文章總覽
                                }).then(function() {
                                    // window.location = "articleAll.html";
                                });
                            }
                        });
                    }else{
                        alert("請登入");
                        window.location="login.html";
                    }
                        
                },

                // 留言輸入
                insertMyComment() {
                    if(!this.MyComment){
                        // console.log(memData.memName);
                        alert('請輸入留言');
                    }else{
                        let thisVue = this;// 避免抓到ajax的this
                        if(memData){
                            // console.log(thisVue.MyComment);
                            $.ajax({
                                type: 'POST',
                                url: 'php/articlePageCommentSend.php',
                                data: {
                                    MyComment:JSON.stringify(`${thisVue.discusArtAll[0].articleNo},1,'${thisVue.MyComment}'`),
                                },
                                success: function(data) {
                                    // console.log(data);
                                    console.log("成功了嗎?");
                                    // console.log(this.MyComment)
                                    thisVue.refreshComments();
                                    thisVue.MyComment='';
                                    
                                },
                                error: function() {
                                    console.log('ajax error');
                                    thisVue.refreshComments();
                                }
                            });
                        }else{
                            alert("請登入");
                            window.location="login.html";
                        }
                        
                    }
                },

                // 重整留言
                refreshComments(){
                    let getUrlString = location.href;
                    let url = new URL(getUrlString);
                    axios.get(`php/articlePageComment.php?articleNo=${url.searchParams.get('articleNo')}`).then((res)=>{
                            // console.log("ArticleComments",res)
                            this.ArticleComments = res.data;
                        }).catch((err)=>{
                            console.log(err)
                        });
                },

                // 收藏切換
                toggleLikes(){
                    if(memData){
                        if(!this.click){
                            this.discusArtAll[0].articleLikes += 1;
                            this.click = !this.click;
                        }else{
                            this.discusArtAll[0].articleLikes -= 1;
                            this.click = !this.click;
                        };
                        // 避免抓到ajax的this
                        let thisVue = this;
                        // console.log(thisVue.MyComment);
                        $.ajax({
                            type: 'POST',
                            url: 'php/articlePageLikeSend.php',
                            data: {
                                Likes:JSON.stringify(`${thisVue.discusArtAll[0].articleLikes}`),
                                ArticleNo:JSON.stringify(`${thisVue.discusArtAll[0].articleNo}`),
                            },
                            success: function(data) {
                                // console.log(data);
                                console.log("成功了嗎?");
                                // console.log(this.MyComment);
                            },
                            error: function() {
                                console.log('ajax error');
                            }
                        });
                    }else{
                        alert("請登入");
                        window.location="login.html";
                    }
                },
                
            },

            mounted(){
                let getUrlString = location.href;
                let url = new URL(getUrlString);
                // console.log(url.searchParams.get('articleNo'))
                // 撈主要文章內容
                // 只有編號1的文章會被抓回來
                axios.get(`php/articlePage.php?articleNo=${url.searchParams.get('articleNo')}`).then((res)=>{
                    this.discusArtAll = res.data;
                    //人物背景色
                    switch (this.discusArtAll[0].virBgNo) {
                        case 0:
                            this.discusArtAll[0].virBgNo = 'background-color:#FFD60A';
                            break;
                        case 1:
                            this.discusArtAll[0].virBgNo = 'background-color:#394897';
                            break;
                        case 2:
                            this.discusArtAll[0].virBgNo = 'background-color:#BCBCBC';
                            break;
                    }
                }).catch((err)=>{
                    console.log(err)
                });

                // 撈我的文章內容
                // 只有會員編號是1的內容會被抓回來
                axios.get(`php/articlePagemyArticle.php?articleNo=${url.searchParams.get('articleNo')}`).then((resMyArticles)=>{
                    // console.log("MyArticle",resMyArticles)
                    this.MyArticles = resMyArticles.data;
                }).catch((err)=>{
                    console.log(err)
                });

                //撈最新文章
                axios.get('php/articleAllConnect.php').then((res)=>{
                    // console.log("latestArticles",res)
                    // 最新文章只取前三筆
                    this.latestArticles = res.data.slice(0,3);
                }).catch((err)=>{
                    console.log(err)
                }),

                //撈編號1的文章留言
                axios.get(`php/articlePageComment.php?articleNo=${url.searchParams.get('articleNo')}`).then((res)=>{
                    // console.log("ArticleComments",res)
                    this.ArticleComments = res.data;
                    for(let i=0;i<this.ArticleComments.length;i++){
                        //人物背景色
                        switch (this.ArticleComments[i].virBgNo) {
                            case 0:
                                this.ArticleComments[i].virBgNo = 'background-color:#FFD60A';
                                break;
                            case 1:
                                this.ArticleComments[i].virBgNo = 'background-color:#394897';
                                break;
                            case 2:
                                this.ArticleComments[i].virBgNo = 'background-color:#BCBCBC';
                                break;
                        }
                    }

                }).catch((err)=>{
                    console.log(err)
                });
                
            },
        })
    </script>
    
</body>
</html>