<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>藝論刊登</title>
    <!-- 頁籤icon -->
    <link rel="icon" href="assets/icon/a_icon.ico" type="art together icon">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="js/vue/vue.js"></script>
    <script src="js/articlePost.js"></script>
      <!-- 登入  -->
      <script src="js/loginCheck.js"></script>
      <script >
          window.addEventListener('load',function(){
              loginCheck(false);
          })
      </script>
      <!-- 登入ＥＮＤ  -->
</head>
<body>
    <!-- @@include('layout/header.html') -->
    @@include('layout/headerNormal.html',{"headerClass":""})
    <section class="articlePostWrap" id="articlePost">
        <section class="articlePostContent marginAuto">
            <section class="articleEdit">
                <h3>編輯你的文章</h3>
                <form action="">
                    <label for="articleTitle">
                        <h4>主標題</h4>
                        <input maxlength="11" placeholder="輸入你的標題" type="text" name="" id="articleTitle" required @input="descInput" v-model="desc" ><span class="leftText lightColor small">剩餘字數：{{remnant}}/11</span>
                    </label>
                    <label  for="articleArea">
                        <h4>內容</h4>
                        <textarea  placeholder="輸入你的內容" id="articleArea" name="" required></textarea>
                    </label>
                    <h4>附圖(請選擇一張圖片)</h4>
                    <!-- 選到圖片的容器 -->
                    <label for="articlePic">
                        <img id="articlePicSelect">
                        <div class="pic" >
                                <!-- 後端抓到資料庫要替換掉 -->
                                <img src="assets/image/upload_image_icon.png" alt="">
                        </div>
                    </label>
                    <input type="file" id="articlePic" accept="image/png, image/jpeg"  required>
                    <div class="buttonList">
                        <input class="squareOutline" type="reset" value="取消" >
                        <input class="square" type="submit" value="刊登">
                    </div>
                </form>
            </section>
            <aside class="articlePreview">
                <div class="pic">
                    <img src="assets/image/article_articleContent_beBear.png" alt="">
                </div>
                <!-- <h3 class="deepColor">文章預覽</h3>
                <div class="page">
                    <input v-model="title" class="deepColor" placeholder="你的標題" disabled="disabled"></input>
                    <div class="item PicTxtItem">
                            <div class="pic">
                                    <img src="https://picsum.photos/500/400/?random=10">
                                </div>
                                <div class="txt">
                                    最多顯示100字
                                    <textarea placeholder="你的內容" class="deepColor" disabled>{{text}}</textarea>
                            </div>
                    </div>
                </div> -->
            </aside>
        </section>
    </section>
    @@include('layout/footer.html')

     <!-- vue框架 -->
     <script>
        new Vue({
            el: '#articlePost',
            data(){
                return{
                remnant: 11
                }
            },
            methods:{
                descInput(){
                var txtVal = this.desc.length;
                this.remnant = 11 - txtVal;
                }
            }
        });
    </script>
</body>
</html>