<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台登入</title>
    <!-- 頁籤icon -->
    <link rel="icon" href="assets/icon/a_icon.ico" type="art together icon">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="js/vue/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
    <style>
        .headerNormalContain .mainMenu{
            display: none;
        }
        .headerNormalContain .noticeHeader{
            display: none;
        }
    </style>
    <script>
        window.addEventListener('load',function(){
            document.querySelector('.headerNormalContain .logoContain .logo a').href = 'index.html';
        })
    </script>
    <!-- <script src="js/loginCheck.js"></script>
    <script >
        window.addEventListener('load',function(){
            loginCheck(false);
        })
    </script> -->
</head>
<body>
    @@include('layout/headerNormal.html')
    <!-- 登入註冊區 -->
    <section id="loginArea" :class="liginClass">
        <!-- 切換顯示用input display:none -->
        <input type="checkbox" id="changeBtn" class="">
        <article class="size aidBgColor">
            <!-- 輸入區 -->
            <article>
                <form action="#" @submit.prevent="loginSelect">
                    <label for="memId">帳號</label>
                    <input type="text" placeholder="ArtTogether" id="memId" v-model="loginMemId" required>
                    <label for="memPsw">密碼</label>
                    <input type="password" placeholder="＊＊＊＊" id="memPsw" v-model="loginMemPsw" required>
                    <input type="submit" value="登入" class="round" >
                </form>
                <form action="" class="" id="registerForm">
                </form>
            </article>
            <!-- 切換按鈕區 -->
            <article class="">
                <article>
                    <!-- <img src="assets\image\all_logo.png" alt=""> -->
                    <img src="assets\image\loading.gif" alt="">
                </article>
                <article>
                </article>
            </article>
        </article>
    </section>
    @@include('layout/footer.html')

    <script>
        new Vue({
            el: '#loginArea',
            data: {     //變數放在這!
                loginMemPsw:'',
                loginMemId:'',
            },
            methods: {  //函數大部份放在這!
                loginSelect(){
                        axios({
                            method: 'post',
                            url: 'php/backLogin.php',
                            //API要求的資料
                            data: {
                                loginMemPsw:this.loginMemPsw,
                                loginMemId:this.loginMemId,
                            }
                        })
                        .then((response) => {
                            if(response.data == 1){
                                location = "backProduct.html";
                            }else{
                                alert('帳號密碼錯誤')
                            }
                            
                            
                        })
                        .catch((error) => console.log(error))
                }
            },
            computed: {  //函數也可以放在這!但是放在這裡的函數，不能傳參數，一定要有回傳值
                liginClass(){
                    return{
                        loginArea:true,
                        active: this.changeBtn,
                        signUpselect:true,
                    };
                }
            },
        });
    </script>



</body>

</html>