@@include('layout/backheader.html',{title:"真人客服管理"})
        <section class="mainContent backSup">
            <article>
                <table>
                    <thead>
                        <tr>
                            <td>聊天室編號</td>
                            <td>會員名稱</td>
                            <td>客服名稱</td>
                            <td>開始時間</td>
                            <td>狀態</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(data,index) in datas">
                            <td>{{data.quizNo}}</td>
                            <td>{{data.memName}}</td>
                            <td>{{data.adminName}}</td>
                            <td>{{data.stTimer}}</td>
                            <td>
                                <button :class="(data.finishState == '未結束') ? 'round':'whiteRound'" @click="selectChatroom(data,index)">{{data.finishState}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>
            <article class="txtLightBox lightBox" v-show="chatroomShow">
                <div class="title">
                    <div>
                        <p>會員名稱：{{memData.memName}}</p>
                        <button class="round" @click="selectChange()">處理完成</button>
                    </div>
                    <img src="assets\image\supportPage_close_icon.svg" alt="" @click="chatroomShowclosure">
                </div>
                <article class="txtArea">
                    <!-- <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article>
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article>
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article>
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article>
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article>
                    <article class="meTxt">
                        <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, distinctio?</p>
                    </article> -->
                    <messageart v-for="item in messageObject" v-bind="item"/>
                </article>
                <div>
                    <textarea v-model="inputTxt"></textarea>
                    <img src="assets/image/supportPage_sent_icon.png" alt="" class="transparent" @click="sendTxt">
                </div>
            </article>
        </section>
    </section>
    <script>
        new Vue({
                el: '.backSup',
                data: {         //變數放在這裡
                    datas:[],
                    chatroomShow:false,
                    messageData:{},
                    messageObject:{},
                    memData:'',
                    inputTxt:'',
                    currentlyIndex:0,
                    maxNumber:0,
                    timer:'',
                    timerAll:'',
                    
                },
                methods: {  //函數大部分放在這裡

                    selectChatroom(data,index){
                        this.chatroomShow = !this.chatroomShow;
                        this.messageObject = [];
                        this.memData = data;
                        this.currentlyIndex = data.quizNo;
                        this.maxNumber = 0;
                        this.timer = setInterval(()=>{
                            this.reLoad();
                            console.log('AAA')
                        },3000)
                        // console.log(this.memData.quizNo);
                        // console.log('安安');
                        axios({
                                method: 'GET',
                                url: `php/supAll.php?index=${this.memData.quizNo}`,
                                //API要求的資料
                            })
                            .then((response) => { 
                                // this.messageData = response.data;
                                console.log(response.data)
                                response.data.forEach(element => {
                                    this.messageObject.push({message: `${element.content}` , classS: `${(element.memType == '客服') ? 'meTxt':'AA'}`})
                                    console.log(element);
                                    this.maxNumber = element.chatNo;
                                    setTimeout(()=>{document.querySelector('.txtArea article:last-of-type').scrollIntoView({ behavior: 'smooth' });},100)
                                });
                                
                            })
                            .catch((error) => {console.log(error)} )
                        
                    },
                    reLoad(){
                        axios({
                                method: 'GET',
                                url: `php/supAll.php?index=${this.memData.quizNo}&maxNumber=${this.maxNumber}`,
                                //API要求的資料
                            })
                            .then((response) => { 
                                response.data.forEach(element => {
                                    this.messageObject.push({message: `${element.content}` , classS: `${(element.memType == '客服') ? 'meTxt':'AA'}`})
                                    console.log(element);
                                    this.maxNumber = element.chatNo;
                                    setTimeout(()=>{document.querySelector('.txtArea article:last-of-type').scrollIntoView({ behavior: 'smooth' });},100)
                                });
                            })
                            .catch((error) => {console.log(error)} )
                    },
                    sendTxt(){
                        // this.currentlyIndex
                        axios({
                        method:'post',
                        url:`php/supMessageIn.php`,
                        data:{
                            quizNo:this.currentlyIndex,
                            inputTxt:this.inputTxt,
                            memType:'客服',
                        },
                        }).then((res)=>{
                            // console.log("從php傳來的東西",res)
                            this.reLoad();
                        }).catch((err)=>{
                            console.log(err)
                        })
                        this.inputTxt = ''
                    },
                    selectDelete(index){
                        var yes = confirm('你確定嗎？');
                        if(yes){
                            axios({
                                method: 'post',
                                url: `php/robSupDelete.php?index=${index}`,
                                //API要求的資料
                                data: {
                                },
                            })
                            .then((response) => {  
                                // console.log(response.data) 
                            })
                            .catch((error) => console.log(error))
                        }
                        
                    },
                    chatroomShowclosure(){
                        this.chatroomShow = false;
                        clearInterval(this.timer);
                    },
                    selectChange(){
                        var yes = confirm('你確定嗎？');
                        if(yes){
                            axios({
                                method: 'post',
                                url: `php/supChange.php?quizNo=${this.currentlyIndex}`,
                                //API要求的資料
                                data: {
                                },
                            })
                            .then((response) => {  
                                // console.log(response.data) 
                                location.reload();
                            })
                            .catch((error) => console.log(error))
                        }
                    }

                },
                computed: { //函數也可放在這裡,但是放在這裡的函數，不能傳參數，但一定要有回傳值
                    
                },
                components: {
                    messageart: {
                        props: ['message','classS'],
                        template: `<article :class="classS"><p class="small">{{message}}</p></article>`,
                    },
                },
                mounted(){
                    this.timerAll = setInterval(()=>{
                        axios({
                            method:'post',
                            url:"php/supKey.php",
                        }).then((res)=>{
                            this.datas = res.data;
                            console.log(res.data)
                            // setTimeout(()=>{document.querySelector('.txtArea article:last-of-type').scrollIntoView({ behavior: 'smooth' });},100)
                        }).catch((err)=>{ console.log(err) })
                        console.log('BBB')
                    },3000)
                    axios({
                            method:'post',
                            url:"php/supKey.php",
                        }).then((res)=>{
                            this.datas = res.data;
                            console.log(res.data)
                            // setTimeout(()=>{document.querySelector('.txtArea article:last-of-type').scrollIntoView({ behavior: 'smooth' });},100)
                        }).catch((err)=>{ console.log(err) })
                },
            
            });
        </script>
</body>
</html>