@@include('layout/backheader.html',{title:"管理員管理"})
        <section class="mainContent backAdmin">
            <div id="app">
                <ul class="memeberTitle">
                    <li v-for = 'title in titles'>{{title}}</li>
                    <li><button @click="newRow" class="whiteRound">新增</button></li>
                </ul>
                <!-- 新增管理員的燈箱 -->
                <section class="backLightBox newRowLigthtBox displayNone" id="newRowLigthtBox">
                    <div class="title">
                        <img src="assets\image\supportPage_close_icon.svg" v-on:click="newRowCloseLight">
                    </div>
                    <div class="txtArea">
                        <p>{{titles[0]}}{{pkey}}</p>
                        <p>{{titles[1]}}
                            <input type="text" v-model="adminId">
                        </p>
                        <p>{{titles[2]}}
                            <input type="text" v-model="adminName">
                        </p>
                        <p>{{titles[3]}}
                            <input type="text" v-model="adminClass">
                        </p>
                        <p>{{titles[4]}}
                            <input type="text" v-model="adminSatate">
                        </p>
                        <p>
                            密碼
                            <input type="text" v-model="adminPwd">
                        </p>
                        <button v-on:click="newRowChange" class="round">確認</button>
                    </div>
                </section>
                <ul v-for='(administrator,key) in administrators' 
                class="memberList">            
                    <li>{{administrator.adminNo}}</li>
                    <li>{{administrator.adminId}}</li>
                    <li>{{administrator.adminName}}</li>
                    <li>{{administrator.adminClass}}</li>
                    <li>{{administrator.adminSatate}}</li>  
                    <li><button v-on:click="openLightBox(key)" class="round">編輯與查看</button></li>
                </ul>
                <section class="backLightBox adminLigthtBox displayNone" id="adminLigthtBox">
                    <div class="title">
                        <img src="assets\image\supportPage_close_icon.svg" v-on:click="backCloseLight">
                    </div>
                    <ul class="txtArea">            
                        <li>{{lightIndex.adminNo}}</li>
                        <li>{{lightIndex.adminId}}</li>
                        <li>{{lightIndex.adminName}}</li>
                        <li>{{lightIndex.adminClass}}</li>
                        <select v-model="changedStatus">                                        
                            <option :value="status.name" v-for="status in statusList" >{{status.name}}</option>                                    
                        </select>
                        <button v-on:click="confirmChange" class="round">確認</button>
                    </ul>
                </section>
            </div>
        </section>
    </section>
    <script>
        let vm = new Vue({
        el:"#app",
        data:{
            adminNo:[],
            titles: ['管理員編號',  '帳號', '管理員姓名', '管理員種類', '離職','', ],
            administrators:[],
            lightIndex:[],
            adminLigthtBox : document.querySelector("#adminLigthtBox"),
            newRowLigthtBox : document.querySelector("#newRowLigthtBox"),
            statusList:[
                {name: "是"},
                {name: "否"}
            ],
            changedStatus: '',
            pkey:'',
            adminId:'',
            adminName:'',
            adminClass:'',
            adminSatate:'',
            adminPwd:'',
        },
        created(){
            // this.changedStatus = this.statusList[0].choice;
        },
        methods:{
            openLightBox:function(key){
                adminLigthtBox.classList.toggle("displayNone"); 
                this.lightIndex = this.administrators[key];
                this.adminNo = key+1;
                if(this.lightIndex.adminSatate=="否"){
                    this.changedStatus = this.statusList[1].name;
                }else{
                    this.changedStatus = this.statusList[0].name;
                }
            },
            backCloseLight:function(){
                adminLigthtBox.classList.toggle("displayNone"); 
            },
            confirmChange:function(){
                adminLigthtBox.classList.toggle("displayNone");
                if(this.changedStatus=="是"){
                    this.lightIndex.adminSatate = "是";
                }else{
                    this.lightIndex.adminSatate = "否";
                }
                let thisVue = this;
                $.ajax({
                    type: 'POST',
                    url: 'php/backReviseAdmin.php',
                    data: {
                        adminNo:JSON.stringify(thisVue.adminNo),
                        changedStatus:thisVue.changedStatus,
                    },
                    success: function(data) {
                        console.log(data.message);
                        console.log("成功了嗎?");
                    },
                    error: function() {
                        console.log('ajax error');
                    }
                });
            },
            newRow: function(){
                newRowLigthtBox.classList.toggle("displayNone"); 
                this.pkey=this.administrators.length+1;
            },
            newRowCloseLight: function(){
                newRowLigthtBox.classList.toggle("displayNone"); 
            },
            newRowChange: function(){
                newRowLigthtBox.classList.toggle("displayNone");
                let thisVue = this;
                    $.ajax({
                    type: 'POST',
                    url: 'php/adminNew.php',
                    data: {
                        pkey:thisVue.pkey,
                        adminId:thisVue.adminId,
                        adminName:thisVue.adminName,
                        adminClass:thisVue.adminClass,
                        adminSatate:thisVue.adminSatate,
                        adminPwd:thisVue.adminPwd,
                    },
                    success: function(data) {
                        console.log("成功了唷");
                    },
                    error: function() {
                        console.log('ajax error');
                    }
                    }); 
            }
        },
        mounted(){
            axios.get('php/backAdminFetch.php').then((res)=>{
                this.administrators = res.data;
            }).catch((err)=>{
                console.log(err)
            })
        }
    })
    </script>
</body>
</html>