@@include('layout/backheader.html',{title:"文章管理"})
        <section class="mainContent backArticle">
            <div id="backArticle">
                <!-- 標題 -->
                <ul class="articleTitle">
                    <li v-for="title in titles">{{title}}</li>
                </ul>         
                <!-- 撈後臺數據 -->
                <ul class="articleList" v-for="(article,key) in articleAll.slice(startPage, startPage + perPage)">
                    <li>{{article.articleNo}}</li>
                    <li>{{article.memNo}}</li>
                    <li>{{article.title}}</li>
                    <li>{{article.postTime}}</li>
                    <li>{{article.reportState}}</li>
                    <li>{{article.auditState}}</li>
                    <li>{{article.visibleStale}}</li>
                    <li><button v-on:click="openLightBox(key)" class="round">編輯與查看</button></li>
                </ul>
                 <!-- 每個燈箱 -->
                <section class="backLightBox articleLigthtBox displayNone" id="articleLigthtBox">
                    <div class="title">
                        <img src="assets\image\supportPage_close_icon.svg" v-on:click="backCloseLight">
                    </div>
                    <ul class="txtArea">
                        <!-- '文章標題','文章圖片','文章內容','檢舉狀態','審核狀態','是否顯示' -->
                        <!-- <li>{{lightBoxTitles[0]}}{{lightBoxContent.articleNo}}</li>

                        <li>{{lightBoxTitles[1]}}{{lightBoxContent.memNo}}</li> -->

                        <li>{{lightBoxTitles[0]}}&emsp;{{lightBoxContent.title}}</li>
                        <hr>
                        <li>{{lightBoxTitles[1]}}</li>
                        <div class="pic">
                            <img :src="src+lightBoxContent.pic" alt="">
                        </div>
                        <hr>
                        <li>{{lightBoxTitles[2]}}</li>
                        <p v-html="lightBoxContent.content"></p>
                        <hr>
                        <li>{{lightBoxTitles[3]}}&emsp;
                            <select v-model="lightBoxContent.reportState">                                        
                                <option  v-for="reportState in reportStateList" >{{reportState.name}}</option>                                    
                            </select>
                        </li>
                        
                        <li>{{lightBoxTitles[4]}}&emsp;
                            <select v-model="lightBoxContent.auditState">                                        
                                <option  v-for="auditState in auditStateList" >{{auditState.name}}</option>                                    
                            </select>
                        </li>
                        
                        <li>{{lightBoxTitles[5]}}&emsp;
                            <select v-model="lightBoxContent.visibleStale">                                        
                                <option  v-for="visibleStale in visibleStaleList" >{{visibleStale.name}}</option>                                    
                            </select>
                        </li>
                        <button @click="confirmChange" class="round">確認更改</button>
                    </ul>
                </section>
                <!-- <div  class="pageIndex">
                    <ul>
                        <li :class="{displayNone: currentPage === 1}" @click="setPage(currentPage-1)">&laquo;</li>

                        <li v-for="n in totalPage" @click="setPage(n)">{{n}}</li>

                        <li :class="{displayNone: currentPage === totalPage}"  @click="setPage(currentPage+1)">&raquo;</li>
                    </ul>
                </div> -->
            </div>           
        </section>
    </section>
    <script>
        new Vue({
            el:'#backArticle',
            data:{
                titles: ['文章編號','作者編號','文章標題','刊登時間','檢舉狀態','審核狀態','是否顯示',''],
                // lightBoxTitles: ['文章編號','作者編號','文章標題','文章圖片','文章內容','檢舉狀態','審核狀態','是否顯示'],
                lightBoxTitles: ['文章標題','文章圖片','文章內容','檢舉狀態','審核狀態','是否顯示'],

                // 資料庫全部抓回來的資料
                articleAll:[],
                articleLigthtBox : document.querySelector("#articleLigthtBox"),
                
                // 每個燈箱的資料
                lightBoxContent:[],

                // 圖片路徑
                src:'assets/image/',

                // 創造頁籤
                // rows: [],
                perPage:100,
                currentPage: 1,

                // 檢舉狀態選項
                reportStateList:[
                    {name: "檢舉"},
                    {name: "未檢舉"},
                ],

                // 審核狀態選項
                auditStateList:[
                    {name: "無須審核"},
                    {name: "待審核"},
                    {name: "審核完成"},
                    {name: "審核下架"},
                ],

                // 顯示狀態選項
                visibleStaleList:[
                    {name: "是"},
                    {name: "否"},
                ],

                // 變更後檢舉狀態
                reportStateChanged: '',
                // 變更後審核狀態
                auditStateChanged: '',
            	// 變更後顯示狀態
                visibleStaleChanged: '',
            },
            mounted(){
                let thisVue = this;
                axios.get('php/backArticleSelect.php').then((res)=>{
                    this.articleAll = res.data;
                }).catch((err)=>{
                    console.log(err)
                });

                
            },

            methods: {
                openLightBox:function(key){
                    articleLigthtBox.classList.toggle("displayNone");
                    this.lightBoxContent = this.articleAll[key];
                    // console.log(this.lightBoxContent);
                    $("html, body").animate({ scrollTop: 0 }, "slow");

                    // 內容換行
                    let reg=new RegExp("\n","g"); 
                    let str=this.lightBoxContent.content.replace(reg,"<br>");
                    this.lightBoxContent.content = str;
                },
                backCloseLight:function(){
                    articleLigthtBox.classList.toggle("displayNone"); 
                },
                setPage(thePage){
                    this.currentPage = thePage;
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                },
                confirmChange(){
                    let thisVue = this;
                    // 檢舉狀態更新
                    thisVue.reportStateChanged = thisVue.lightBoxContent.reportState ;
                    // 審核狀態更新
                    thisVue.auditStateChanged = thisVue.lightBoxContent.auditState ;
                    // 顯示狀態更新
                    thisVue.visibleStaleChanged = thisVue.lightBoxContent.visibleStale ;
                    $.ajax({
                        type: 'POST',
                        url: 'php/backArticleRevise.php',
                        data: {
                            // 抓到文章編號
                            articleNo:thisVue.lightBoxContent.articleNo,
                            // 變更後檢舉狀態
                            reportChanged:thisVue.reportStateChanged,
                            // 變更後審核狀態
                            auditChanged:thisVue.auditStateChanged,
                            // 變更後顯示狀態
                            visibleChanged:thisVue.visibleStaleChanged,
                        },
                        success: function(data) {
                            console.log('修改成功');
                        },
                        error: function() {
                            console.log('ajax error');
                        }
                    });
                    articleLigthtBox.classList.toggle("displayNone");
                }
            },
            computed: {
                totalPage(){
                    return Math.ceil(this.articleAll.length / this.perPage);
                },
                startPage(){
                    return (this.currentPage - 1) * this.perPage;
                },
            },
        })
    </script>
</body>
</html>