@@include('layout/backheader.html',{title:"商品管理"})
        <section class="mainContent backProduct">
            <div id="app">
                <ul class="memeberTitle">
                    <li v-for = 'title in titles'>{{title}}</li>
                    <li></li>
                </ul>
                <ul v-for='(product,key) in products' 
                class="memberList">            
                    <li>{{product.prodNo}}</li>
                    <li>{{product.prodClass}}</li>
                    <li>{{product.productName}}</li>
                    <li>{{product.auditState}}</li>
                    <li>{{product.adStatus}}</li>
                    <li>{{product.saleStatus}}</li> 
                    <li>{{product.memNo}}</li>   
                    <li v-on:click="openLightBox(key)">編輯與查看</li>
                </ul>
                <section class="backLightBox productLigthtBox displayNone" id="productLigthtBox">
                    <i class="fas fa-times" v-on:click="backCloseLight">x</i>
                    <ul>            
                        <li>{{titles[0]}} {{lightIndex.prodNo}}</li>
                        <li>{{titles[1]}} {{lightIndex.prodClass}}</li>
                        <li>{{titles[2]}} {{lightIndex.productName}}</li>
                        <li>{{titles[3]}}</li>
                        <select v-model="lightIndex.auditState ">                                        
                            <option  v-for="status in statusList" >{{status.name}}</option>                                    
                        </select>
                        <li>{{titles[4]}} {{lightIndex.adStatus}}</li>
                        <li>{{titles[5]}}</li> 
                        <select v-model="lightIndex.saleStatus">                                        
                            <option  v-for="sale in saleList" >{{sale.name}}</option>                                    
                        </select>
                        <li>{{titles[6]}} {{lightIndex.memNo}}</li>
                    </ul>
                    <div class="image">
                        <img v-bind:src="certification" alt="">   
                    </div>
                    <div class="image" v-for='(image) in indexImage' >
                        <img v-bind:src="image" alt="">   
                    </div>
                    <button v-on:click="confirmChange">確認</button>
                </section>
            </div>
        </section>
    </section>
    <script>
        new Vue({
            el: '#app',
            data: {
                titles: ['商品編號',  '商品類別', '商品名稱','審核狀態','廣告狀態','販售狀態','上架會員編號','', ],
                table:'com',
                products:[],
                prodNo:[],
                productLigthtBox : document.querySelector("#productLigthtBox"),
                lightIndex:[],
                certification:[],
                prodImage:[],
                indexImage:[],
                statusList:[
                {name: "審核中"},
                {name: "通過"},
                {name: "未通過"}
                ],
                saleList:[
                {name: "未上架"},
                {name: "販售中"},
                {name: "已販售"}
                ],
                auditChanged:"",
                saleChanged:"",
            },
            methods: {
                openLightBox:function(key){
                    productLigthtBox.classList.toggle("displayNone"); 
                    this.lightIndex = this.products[key];
                    this.prodNo = key+1;
                    this.certification = "assets/image/commodity/"+this.lightIndex.certification;
                    this.indexImage=[];
                    for(let i=0; i<this.prodImage.length; i++){
                        if(key+1 ==this.prodImage[i].prodNo){
                            // console.log(this.prodImage[i].prodNo);
                            // console.log(this.prodImage[i].img);
                            this.indexImage.push("assets/image/commodity/"+this.prodImage[i].img);
                        }
                    }
                },
                backCloseLight:function(){
                    productLigthtBox.classList.toggle("displayNone"); 
                },
                confirmChange:function(){
                    productLigthtBox.classList.toggle("displayNone");
                    // console.log(this.lightIndex.auditState);
                    this.auditChanged = this.lightIndex.auditState ;
                    this.saleChanged = this.lightIndex.saleStatus ;
                    // console.log("斷點",this.auditChanged);
                    let thisVue = this;
                    $.ajax({
                    type: 'POST',
                    url: 'php/backRevise.php',
                    data: {
                        table:JSON.stringify(thisVue.table),
                        prodNo:JSON.stringify(thisVue.prodNo),
                        auditChanged :thisVue.auditChanged,
                        saleChanged :thisVue.saleChanged,
                    },
                    success: function(data) {
                        console.log("成功了唷");
                    },
                    error: function() {
                        console.log('ajax error');
                    }
                    });
                },
            },
            mounted(){
                let thisVue = this;
                $.ajax({
                    type: 'POST',
                    url: 'php/selectAll.php',
                    data: {
                        table:JSON.stringify(thisVue.table),
                    },
                    success: function(data) {
                        thisVue.products = data;
                        // console.log(thisVue.products);
                        
                    },
                    error: function() {
                        console.log('ajax error');
                    }
                }),
                axios.get('php/backImageSelect.php').then((res)=>{
                    this.prodImage = res.data;
                }).catch((err)=>{
                    console.log(err)
                })
            },
            computed: {},
            watch: {},
        });
    </script>
</body>
</html>