<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 頁面css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- 貓頭鷹css -->
    <link rel="stylesheet" href="assets/owlCss/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/owlCss/owl.theme.default.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="js/jquery/jquery.js"></script>
	<script src="js/jquery/jquery-ui.js"></script>
    <!-- vue -->
    <script src="js/vue/vue.js"></script>
    <!-- 上架步驟滑動jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 頁籤icon -->
    <link rel="icon" href="assets/icon/a_icon.ico" type="art together icon">
    <title>商品上架</title>
        <!-- 方塊收起按鈕 -->
        <script>
            $(function () {
                $(`#cubeBtn`).click(function(){
                    $('.cubeSide').slideToggle();
                });
            });
        </script>
</head>
<body>

    @@include('layout/headerNormal.html')

    <!-- 拍賣流程步驟 -->
    <section id="listingVue">
        <section class="safeFrame">
            <div class="listingSteps">
                <h2>上架競拍 - <b>馬上開啟您的個人拍賣會</b></h2>
                <h4>上架流程步驟</h4>
                <div class="options">
                    <div class="option">
                        <div class="sub">上架您的藝術品進行競拍活動之前，請先註冊為「藝起」之會員。</div>
                        <div class="shadow"></div>
                        <div class="label">
                            <div class="icon">
                                <!-- <i class="fas fa-walking"></i> -->
                                <i><img src="assets/image/listingImage/enroll_membership_icon.png" alt="none"></i>
                            </div>
                            <div class="info">
                                <div class="main">步驟一: 註冊並且登入</div>
                            </div>
                        </div>
                    </div>
                    <div class="option">
                        <div class="sub">請到導覽列中按下"上架"，連結到賣家上架頁面。</div>
                        <div class="shadow"></div>
                        <div class="label">
                            <div class="icon">
                                <!-- <i class="fas fa-snowflake"></i> -->
                                <i><img src="assets/image/listingImage/find_page_icon.png" alt="none"></i>
                            </div>
                            <div class="info">
                                <div class="main">步驟二: 找到競拍頁面</div>
                            </div>
                        </div>
                    </div>
                    <div class="option active">
                        <div class="sub">完成填寫商品資訊，上傳商品圖片，並注意<img src="assets/image/listingImage/help_question_icon.png" alt="none">圖示的說明。</div>
                        <div class="shadow"></div>
                        <div class="label">
                            <div class="icon">
                                <!-- <i class="fas fa-tree"></i> -->
                                <i><img src="assets/image/listingImage/write_info_icon.png" alt=""></i>
                            </div>
                            <div class="info">
                                <div class="main">步驟三: 填入商品資訊</div>
                            </div>
                        </div>
                    </div>
                    <div class="option">
                        <div class="sub">案下"資訊確認"按鈕，檢視您所填寫商品資訊，商品上架後將不可進行編輯，請務必確認填寫正確後才進行下一步。</div>
                        <div class="shadow"></div>
                        <div class="label">
                            <div class="icon">
                                <!-- <i class="fas fa-tint"></i> -->
                                <i><img src="assets/image/listingImage/preview_check_icon.png" alt=""></i>
                            </div>
                            <div class="info">
                                <div class="main">步驟四: 上架前之預覽</div>
                            </div>
                        </div>
                    </div>
                    <div class="option">
                        <div class="sub">按下"送出(審核)"按鈕，等待工作人員進行審核。</div>
                        <div class="shadow"></div>
                        <div class="label">
                            <div class="icon">
                                <!-- <i class="fas fa-sun"></i> -->
                                <i><img src="assets/image/listingImage/audit_icon.png" alt=""></i>
                            </div>
                            <div class="info">
                                <div class="main">步驟五: 等待審核上架</div>
                            </div>
                        </div>
                    </div>
                    <div class="option">
                        <div class="sub">待審核通過後，將於發出通知，並且商品立即開始上架計時競拍。</div>
                        <div class="shadow"></div>
                        <div class="label">
                            <div class="icon">
                                <!-- <i class="fas fa-sun"></i> -->
                                <i><img src="assets/image/listingImage/auction_icon.png" alt=""></i>
                            </div>
                            <div class="info">
                                <div class="main">步驟六: 商品競拍開始</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="safeframe">
            <div class="bannerAdTopic">
                <h4>藝廊效果廣告展示</h4>
            </div>
        </section>
        
        <!-- 產品效果廣告展示 -->
        <section>
            <div class="owl-carousel owl-theme">
                <div class="banner">
                    <img src="assets/image/listingImage/urban_art_banner.png" alt="none">
                </div>
                <div class="wrap">
                    <div class="card">
                        <div class="cover">
                            <h1 id="first"><img src="assets/image/listingImage/listing_bg_picture1.png" alt="none"></h1>
                        </div>
                        <div class="back">
                            <p>Beauty is everywhere.</p>
                        </div>
                    </div>
                </div>
                <div>
                <!-- 方塊收起按鈕 -->
                <button id="cubeBtn" class="round">點我</button>
                <div class="cube">
                    <div class="top"><img src="assets/image/listingImage/mona_lisa_ps.png" alt="none"></div>
                    <div>
                        <span class="cubeSide"style="--i:0"><img src="assets/image/listingImage/mona_lisa_ps.png" alt="none"></span>
                        <span class="cubeSide"style="--i:1"><img src="assets/image/listingImage/mona_lisa_ps.png" alt="none"></span>
                        <span class="cubeSide"style="--i:2"><img src="assets/image/listingImage/mona_lisa_ps.png" alt="none"></span>
                        <span class="cubeSide"style="--i:3"><img src="assets/image/listingImage/mona_lisa_ps.png" alt="none"></span>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <!-- 貓頭鷹調整 -->
        <script src="js/carousel.js"></script>


        <section class="background">
            <!-- 上架填寫分頁1+分頁2 -->
            <section class="tab-content safeframe">
                <div class="listingBgPic4">
                    <img src="assets/image/listingImage/kaws_action_figure.png" alt="none">
                </div>
                <!--分頁bar1 -->
                <input type="radio" id="tab1" class="" name="mytabs" checked="checked" required>
                <label for="tab1" class="tag">上架藝術品</label>
                <!-- 上架競標藝術品頁面 -->
                <form action="homePage.html" id="form1" class="content" name="page1" method="get">  <!--onclick="return false"-->
                        <div class="artTitle">
                            <label for="">
                                <h4>藝術品名</h4>
                            </label>
                            <input type="text" class="textBox" id="artName" name="artName" value="" v-model="message" placeholder="請輸入藝術品名" autocomplete="on" required>
                        </div>
                        <div class="artist">
                            <label for="">
                                <h4>藝術品創作者</h4>
                                <input type="text" class="textBox" id="artistName" name="artistName" value="" v-model="message1" placeholder="請輸入藝術創作者" required>
                            </label>
                        </div>
                        <div class="bidTime">
                            <label for="">
                                <h4>競標時間</h4>
                                <select name="time" class="aidBgColor" v-model="time" required>
                                    <option value="">請選擇</option>
                                    <option value="23h 59m 59s">24小時</option>
                                    <option value="2d 23h 59m 59s">3天</option>
                                    <option value="6d 23h 59m 59s">7天</option>
                                    <option value="9d 23h 59m 59s">10天</option>
                                    <option value="14d 23h 59m 59s">15天</option>
                                    <option value="20d 23h 59m 59s">21天</option>
                                    <option value="29d 23h 59m 59s">30天</option>
                                </select>
                            </label>
                        </div>
                    <div class="startPrice">
                        <label for="">
                            <h4>起標價</h4>
                        </label>
                        <input type="text" class="textBox" id="" name="starPrice" value="" v-model="score" placeholder="請輸入起標價" required>
                    </div>
                    <div class="bidPitch">
                        <label for="">
                            <h4>每次標價間距</h4>
                            <select name="bidPitch" class="aidBgColor" v-model="pitch" required>
                                <option value="">請選擇</option>
                                <option value="100">NT 100</option>
                                <option value="200">NT 200</option>
                                <option value="500">NT 500</option>
                                <option value="1,000">NT 1,000</option>
                                <option value="2,000">NT 2,000</option>
                                <option value="5,000">NT 5,000</option>
                                <option value="10,000">NT 10,000</option>
                                <option value="20,000">NT 20,000</option>
                                <option value="50,000">NT 50,000</option>
                                <option value="100,000">NT 100,000</option>
                            </select>
                        </label>
                    </div>
                    <div class="price">
                        <label for="">
                            <h4>定價</h4>
                        </label>
                        <input type="text" class="textBox" id="price" name="price" value="" v-model="score1" placeholder="請輸入定價" required>
                    </div>
                    <div class="productType">
                        <h4>商品種類</h4>
                        <div class="allType">
                            <div class="type">
                                <input type="radio" id="type1" name="type" v-model="type" value="畫作類" required>
                                <label for="type1">
                                    畫作類
                                </label>
                            </div>
                            <div for="" class="type">
                                <input type="radio" id="type2" name="type" v-model="type" value="雕塑類">
                                <label for="type2">
                                    雕塑類
                                </label>
                            </div>
                            <div class="type">
                                <input type="radio" id="type3" name="type" v-model="type" value="公仔類">
                                <label for="type3">
                                    公仔類
                                </label>
                            </div>
                            <div class="type">
                                <input type="radio" id="type4" name="type" v-model="type" value="品牌合作類">
                                <label for="type4">
                                    品牌合作類
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="ad">
                        <div class="show">
                            <h4>藝廊廣告需求<span><img src="assets/image/listingImage/help_question_icon.png" alt="none"></span></h4>
                            <div class="qAnswer">
                                <p>藝廊廣告將展示於線上藝廊中，隨機以不同的動態效果呈現您的藝術品。達到與客戶端互動賞玩的作用。購買前還請謹慎決定，切勿造成工作人員負擔，謝謝。</p>
                            </div>
                        </div>
                        <input type="radio" id="ad1" name="ad" v-model="ad" value="購買廣告" required>
                        <label for="ad1">
                            購買廣告
                        </label>
                        <input type="radio" id="ad2" name="ad" v-model="ad" value="暫無需求">
                        <label for="ad2">
                            暫無需求
                        </label>
                    </div>
                    <div class="uploadFile">
                        <h4>藝術品圖檔上傳</h4>
                        <ol class="uploadPicture">
                            <li>
                                <input type="file" id="pic" name="pic" accept=".png,.jpg" required>
                                <label for="pic" id="pic-preview"><img src="assets/image/listingImage/upload_image_icon.png" alt="none">
                                    <div></div>
                                </label>
                            </li>
                            <li>
                                <input type="file" id="pic1" name="pic" accept=".png,.jpg">
                                <label for="pic1"><img src="assets/image/listingImage/add_icon.png" alt="none"></label>
                            </li>
                            <!--
                            <li></li>
                            <li></li>
                            <li></li>
                            -->
                        </ol>
                    </div>
                    <div class="uploadCertification">
                        <h4>藝術證明</h4>
                            <div class="certification">
                                <input type="file" id="paper" name="paper" accept=".pdf" required>
                                <label for="paper" id="paper-preview"><img onerror='this.style.display = "none"' src="assets/image/listingImage/add_icon.png" alt="PDF">
                                    <div></div>
                                </label>
                            </div>
                    </div>
                    <div class="productIntro">
                            <h4>商品介紹(商品描述)</h4>
                            <textarea name="productIntro" id="productIntro" cols="100" rows="10" name="goods" v-model="message2" placeholder="請輸入商品描述" required></textarea>
                    </div>
                    <section class="btn">
                        <input type="button" class="btnProduct roundOutline" value="資訊確認" id="btnProduct">
                        <input type="submit" class="btnProduct round" id="btnProduct1" value="送出(審核)"> <!--onclick="location.href='listing.html'"-->
                    </section>
                </form>
                <!--分頁bar2 -->
                <input type="radio" id="tab2" name="mytabs">
                <label for="tab2" class="tag">展覽非賣品</label>
                <!-- 展覽品頁面 -->
                <form action="homePage.html" class="content" name="pag2" method="get">
                    <div class="artTitle">
                        <label for="">
                            <h4>藝術品名</h4>
                        </label>
                        <input type="text" class="textBox" id="" name="" value="" placeholder="請輸入藝術品名" required>
                    </div>
                    <div class="artist">
                        <label for="">
                            <h4>藝術品創作者</h6>
                        </label>
                        <input type="text" class="textBox" id="" name="" value="" placeholder="請輸入藝術創作者" required>
                    </div>
                    <div class="uploadFile">
                        <h4>藝術品圖檔上傳</h4>
                        <ol class="uploadPicture">
                            <li>
                                <input type="file" id="pic2" name="pic" accept=".png,.jpg" onchange="showPreview(event)" required>
                                <label for="pic2"><img id="" src="assets/image/listingImage/upload_image_icon.png" alt="none"></label>
                            </li>
                            <li>
                                <input type="file" id="pic3" name="pic" accept=".png,.jpg">
                                <label for="pic3"><img src="assets/image/listingImage/add_icon.png" alt="none"></label>
                            </li>
                            <!--
                            <li></li>
                            <li></li>
                            <li></li> -->
                        </ol>
                    </div>
                    <div class="uploadCertification">
                        <h4>藝術證明</h4>
                            <div class="certification">
                                <input type="file" id="paper1" name="paper"  accept=".pdf" required>
                                <label for="paper1"><img src="assets/image/listingImage/add_icon.png" alt="none"></label>
                            </div>
                    </div>
                    <div class="productIntro">
                            <h4>商品介紹(商品描述)</h4>
                            <textarea name="productIntro" id="productIntro" cols="80" rows="10" name="goods" value="請輸入商品描述" required></textarea>
                    </div>
                    <section class="btn">
                        <input type="button" class="btnProduct roundOutline" id="btnProduct2" value="資訊確認">
                        <input type="submit" class="btnProduct round" id="btnProduct3" value="送出(審核)" onclick="window.alert('上架提交成功')">
                    </section>
                </form>
            </section>
        </section>

        <!-- 燈箱預覽畫面 -->
        <section class="safeframe">
            <div class="modal-container" id="modal_container">
                <div class="modal">
                    <div class="modalPic">
                        <img src="https://picsum.photos/300/250/?random=10">
                    </div>
                    <div class="modalProductInfo">
                        <div class="modalProductInput">
                            <div class="modalValue">
                                <h6>藝術品名:</h6>
                                <p>{{message}}</p>
                            </div>
                            <div class="modalValue">
                                <h6>藝術品創作者:</h6>
                                <p>{{message1}}</p>
                            </div>
                            <div class="modalValue">
                                <h6>競拍時間:</h6>
                                <p>{{time}}</p>
                            </div>
                            <div class="modalValue">
                                <h6>起標價:</h6>
                                <p>{{score}}</p>
                            </div>
                            <div class="modalValue">
                                <h6>每次標價間距:</h6>
                                <p>{{pitch}}</p>
                            </div>
                            <div class="modalValue">
                                <h6>定價:</h6>
                                <p>{{score1}}</p>
                            </div>
                            <div class="modalValue">
                                <h6>商品種類:</h6>
                                <p>{{type}}</p>
                            </div>
                            <div class="modalValue">
                                <h6>藝廊廣告需求:</h6>
                                <p>{{ad}}</p>
                            </div>
                            <div class="modalValueText">
                                <h6>商品描述:</h6>
                                <p>{{message2}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" value="確認" class="lightboxBtn round" id="lightboxBtn">
            </div>
        </section>
    </section>

    <!-- vue框架 -->
    <script>
        new Vue({
            el: '#listingVue',
            data: {     //變數放在這!
                message: '',
                message1:'',
                message2:'',
                message3:'',
                score:'',
                score1:'',
                time:'',
                pitch:'',
                type:'',
                ad:'',
            },
            methods: {  //函數大部份放在這!
                setMessage(e){
                    this.message = e.target.value;
                },
            },
            computed: {  //函數也可以放在這!但是放在這裡的函數，不能傳參數，一定要有回傳值
                preserve(){
                    return{
                        whiteSpace: 'pre',
                        font: '13.333px monospace'
                    };
                }
            },
        });
    </script>

    <!-- 上架步驟滑動 -->
    <script>
        $(".option").click(function(){
            $(".option").removeClass("active");
            $(this).addClass("active");
        });
    </script>

    <!-- 圖檔上傳預覽 -->
    <script>
        function previewBeforeUpload(id){
          document.querySelector("#"+id).addEventListener("change",function(e){
            if(e.target.files.length == 0){
              return;
            }
            let file = e.target.files[0];
            let url = URL.createObjectURL(file);
            document.querySelector("#"+id+"-preview img").src = url;
            document.querySelector("#"+id+"-preview div").innerText = file.name;
          });
        }
        
        previewBeforeUpload("pic");
        previewBeforeUpload("paper");
        // previewBeforeUpload("file-3");
    </script>

      <!-- pdf檔上傳預覽
      <script>
        function pdfPreviewBeforeUpload(id){
          document.querySelector("#"+id).addEventListener("change",function(c){
            if(c.target.files.length == 0){
              return;
            }
            let file = e.target.files[0];
            let url = URL.createObjectURL(file);
            document.querySelector("#"+id+"-previewPdf div").innerText = file.name;
            // document.querySelector("#"+id+"-preview img").src = url;
          });
        }
        
        pdfPreviewBeforeUpload("paper");
        // previewBeforeUpload("paper");
        // previewBeforeUpload("file-3");
    </script> -->

    <!-- 燈箱js -->
    <script>
        const open = document.getElementById('btnProduct');
        const open1 = document.getElementById('btnProduct2');
        const close = document.getElementById('lightboxBtn');
        const modal = document.getElementById('modal_container');
        open.addEventListener('click', () => {
            modal.classList.add('show');
        });
        open1.addEventListener('click', () => {
            modal.classList.add('show');
        });
        close.addEventListener('click', () => {
            modal.classList.remove('show');
        });
    </script>

    @@include('layout/footer.html')

    <!-- 貓頭鷹連結 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/owl/owl.carousel.min.js"></script>
    <!-- 圖片左右變換顆粒效果 -->
    <!-- <script src='js/slidPic/three.min.js'></script>
    <script src='js/slidPic/TweenMax.min.js'></script>
    <script src='js/slidPic/bas.js'></script>
    <script src='js/slidPic/OrbitControls-2.js'></script>
    <script src="js/slidPic/index.js"></script> -->
</body>
</html>